/* -*- coding: utf-8 -*- */

@charset "UTF-8";

body {
    margin:0px;
    padding:0px;
    font:11px sans-serif;
    font-family: helvetica, sans-serif;
    color:#333;
    background-color:white;
}
h1 {
    font-size:18px;
    font-weight:900;
    color:black;
}

a {
    color:#09c;
    font-size:11px;
    text-decoration:none;
    font-weight:600;
    font-family:verdana, arial, helvetica, sans-serif;
}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {color:#e00;}

#Header {
    padding:10px 20px;
    border-style:solid;
    border-color:black;
    border-width:0px 0px 1px 0px;
    background-color:#eee;
    font-size: 25px;
}

#Userinfo {
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0px;
    height: 25px;
}

.navarrow {
    float: right;
    padding: 3px;
}

#Content {
    margin:0px 0px 20px 20px;
    padding:10px;
}

#Pagination {
    position:absolute;
    top:84px;
    right:20px;
    width:100px;
    padding:10px;
    background-color:#eee;
    border:1px dashed #999;
    line-height:20px;
}
#Pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100px;
}

/* Define your currency symbol here! */
.money:before { content: "£"; }
