<div class="table-responsive">
<table class="table table-striped table-hover table-sm w-auto" id="annotations">
<thead class="table-light">
<tr>
{% if excluded_column != "stock" %}<th scope="col">Stock item</th>{% endif %}
<th scope="col">Time</th>
{% if excluded_column != "user" %}<th scope="col">User</th>{% endif %}
<th scope="col">Type</th><th scope="col">Details</th></tr>
</thead>
<tbody>
{% for a in annotationlist %}
<tr>
{% if excluded_column != "stock" %}
<td><a href="{{a.stockitem.get_absolute_url}}">{{a.stockitem.id}} {{a.stockitem.stocktype.format}}</a></td>
{% endif %}
<td>{{a.time|date:dtf}}</td>
{% if excluded_column != "user" %}
<td>{% if a.user %}<a href="{{a.user.get_absolute_url}}">{{a.user.fullname}}</a>{% endif %}</td>
{% endif %}
<td>{{a.type}}</td><td>{{a.text}}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#annotations").tablesorter();
});
</script>
