{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Barcodes{% endblock %}

{% block tillcontent %}

<h2>Barcodes</h2>

<table class="table table-striped table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Barcode</th>
      <th scope="col">Binding</th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
<tbody>
{% for b in pager.items %}
<tr>
<td><a href="{{b.get_absolute_url}}">{{b}}</a></td>
<td>{% if b.target %}<a href="{{b.target.get_absolute_url}}">{{b.target}}</a>{% endif %}</td>
<td>{% if b.modifier %}{{b.modifier}}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
<p></p>
{{pager.as_html}}

<form class="mb-2" action="" method="post">{% csrf_token %}
{% include "form-horizontal.html" %}
  <button class="btn btn-primary" type="submit" name="submit_find">
    Find barcode
  </button>
</form>

{% endblock %}
