{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — barcode "{{barcode.id}}"{% endblock %}

{% block tillcontent %}

{% with dtc="col-3 col-sm-2 text-sm-end" ddc="col-9 col-sm-10" %}
<dl class="row">
  <dt class="{{dtc}}">Barcode</dt>
  <dd class="{{ddc}}">{{barcode.id}}</dd>

  <dt class="{{dtc}}">Binding type</dt>
  <dd class="{{ddc}}">{{barcode.binding_type}}</dd>

  <dt class="{{dtc}}">Target</dt>
  <dd class="{{ddc}}">
    {% if barcode.target %}
    <a href="{{barcode.target.get_absolute_url}}">{{barcode.target}}</a>
    {% endif %}
  </dd>

  <dt class="{{dtc}}">Modifier</dt>
  <dd class="{{ddc}}">{{barcode.modifier}}</dd>
</dl>
{% endwith %}

{% if barcode.logs %}
<h2>Log entries</h2>
{% with logs=barcode.logs %}{% include "tillweb/loglist.html" %}{% endwith %}
{% endif %}

{% endblock %}
