{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Barcodes{% endblock %}

{% block tillcontent %}

<h2>Barcodes</h2>

<table class="table table-striped table-hover table-sm" id="barcodeTable">
  <thead class="table-light">
    <tr>
      <th scope="col">Barcode</th>
      <th scope="col">Binding</th>
      <th scope="col">Binding type</th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
      $("#barcodeTable").DataTable({
	  ajax: {
	      url: '{% url "tillweb-datatable-barcodes" %}',
	      dataSrc: 'data',
	  },
	  columns: [
	      { data: 'id',
		render: render_link('barcode_url', DataTable.render.text()),
		type: 'string',
	      },
	      { data: 'binding',
		render: render_link('binding_url', DataTable.render.text()),
		searchable: false,
		orderable: false,
	      },
	      { data: 'binding_type',
		render: DataTable.render.text(),
		searchable: false,
		orderable: false,
	      },
	      { data: 'modifier',
		render: DataTable.render.text(),
	      },
	  ],
	  order: [[0, 'asc']],
	  paging: true,
	  serverSide: true,
      });
  });
</script>

{% endblock %}
