{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — delivery from {{delivery.supplier}} on {{delivery.date}}{% endblock %}

{% block heading %}{{till}} — delivery from {{delivery.supplier}} on {{delivery.date}}{% endblock %}

{% block tillcontent %}

<table>
<tr><td>ID</td><td>{{delivery.id}}</td></tr>
<tr><td>Supplier</td><td><a href="{{u}}{{delivery.supplier.tillweb_url}}">
{{delivery.supplier}}</a></td></tr>
<tr><td>Document number</td><td>{{delivery.docnumber}}</td></tr>
<tr><td>Date</td><td>{{delivery.date}}</td></tr>
<tr><td>Confirmed?</td><td>{{delivery.checked}}</td></tr>
</table>

{% if delivery.items %}
<h2>Items in this delivery</h2>
{% with delivery.items as stocklist %}
{% include "tillweb/stocklist.html" %}
{% endwith %}
{% endif %}

{% endblock %}
