{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — delivery from {{delivery.supplier}} on {{delivery.date}}{% endblock %}

{% block heading %}{{till}} — delivery from {{delivery.supplier}} on {{delivery.date}}{% endblock %}

{% block tillcontent %}

{% if delivery.accounts_url %}
<a class="btn btn-secondary float-right" href="{{ delivery.accounts_url }}">View in accounts</a>
{% endif %}

<table class="kvtable">
<tr><th>ID</th><td>{{delivery.id}}</td></tr>
<tr><th>Supplier</th><td><a href="{{delivery.supplier.get_absolute_url}}">
{{delivery.supplier}}</a></td></tr>
<tr><th>Document number</th><td>{{delivery.docnumber}}</td></tr>
<tr><th>Date</th><td>{{delivery.date}}</td></tr>
<tr><th>Confirmed?</th><td>{{delivery.checked|yesno:"Yes,No"}}</td></tr>
</table>
{% if delivery.items %}
<h2>Items in this delivery</h2>
{% with delivery.items as stocklist %}
{% include "tillweb/stocklist.html" %}
{% endwith %}
{% endif %}

{% if delivery.logs %}
<h2>Log entries</h2>
{% with delivery.logs as logs %}
{% include "tillweb/loglist.html" %}
{% endwith %}
{% endif %}

{% endblock %}
