{% extends "tillweb/tillweb.html" %}
{% load tillweb_utils %}

{% block title %}{{till}} — Deliveries{% endblock %}

{% block tillcontent %}

{% if form %}
<button class="btn btn-primary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#createModal">
  Add new delivery
</button>

{% modal "createModal" title="Add new delivery" %}
<form action="" method="post">{% csrf_token %}
  <div class="modal-body">
    {% include "form-horizontal.html" %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" name="submit_create">
      Add delivery
    </button>
  </div>
</form>
{% endmodal %}
{% if form.errors %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#createModal').modal('show');
  });
</script>
{% endif %}
{% endif %}

<table class="table table-striped table-sm" id="deliveries">
  <thead class="table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">Supplier</th>
      <th scope="col">Document</th>
      <th scope="col">Confirmed?</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $("#deliveries").DataTable({
	ajax: {
	    url: '{% url "tillweb-datatable-deliveries" %}',
	    dataSrc: 'data'
	},
	columns: [
	    { data: 'id',
	      render: render_link('url', DataTable.render.text()) },
	    { data: 'date',
	      render: render_link('url', DataTable.render.date()),
	      searchable: false },
	    { data: 'supplier',
	      render: render_link('supplier_url', DataTable.render.text()) },
	    { data: 'docnumber',
	      render: DataTable.render.text() },
	    { data: 'checked',
	      render: render_yesno(),
	      searchable: false },
	],
	order: [ [0, 'desc'] ],
	searching: true,
	paging: true,
	serverSide: true
    });
  });
</script>

{% endblock %}
