{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Departments{% endblock %}

{% block tillcontent %}

<table class="table table-striped table-hover table-sm" id="departments">
  <thead class="thead-light">
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>Band</th>
      <th>Min price</th>
      <th>Max price</th>
      <th>Min ABV</th>
      <th>Max ABV</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
{% for d in depts %}
<tr>
<td><a href="{{d.get_absolute_url}}">{{d.id}}</a></td>
<td><a href="{{d.get_absolute_url}}">{{d.description}}</a></td>
<td>{{d.vatband}}</td>
<td>{% if d.minprice %}{{money}}{{d.minprice}}{% endif %}</td>
<td>{% if d.maxprice %}{{money}}{{d.maxprice}}{% endif %}</td>
<td>{% if d.minabv is not None %}{{d.minabv}}%{% endif %}</td>
<td>{% if d.maxabv is not None %}{{d.maxabv}}%{% endif %}</td>
<td>{% if d.notes %}{{d.notes}}{% endif %}</td>
</tr>
{% endfor %}
  </tbody>
</table>

{% if may_create_department %}
<a href="{% url "tillweb-create-department" pubname=pubname %}" class="btn btn-secondary">Add new department</a>
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
  $("#departments").tablesorter();
});
</script>

{% endblock %}
