{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — {{department.description}}{% endblock %}

{% block tillcontent %}

<table class="kvtable">
  <tr><th scope="row">Number:</th><td>{{department.id}}</td></tr>
  <tr><th scope="row">Description:</th><td>{{department.description}}</td></tr>
  <tr>
    <th scope="row">Minimum price per item:</th>
    {% if department.minprice %}
    <td>{{money}}{{department.minprice}}</td>
    {% else %}
    <td>None</td>
    {% endif %}
  </tr>
  <tr>
    <th scope="row">Maximum price per item:</th>
    {% if department.maxprice %}
    <td>{{money}}{{department.maxprice}}</td>
    {% else %}
    <td>None</td>
    {% endif %}
  </tr>
  <tr><th scope="row">Notes:</th><td>{{department.notes}}</td></tr>
  <tr>
    <th scope="row">Accounting system info:</th>
    <td>{{department.accinfo}}</td>
  </tr>
  {% for desc, data in department.decoded_accinfo %}
  <tr><th scope="row">{{desc}}:</th><td>{{data}}</td></tr>
  {% endfor %}
</table>

{% if pager.items %}
<a class="btn btn-secondary float-right" href="{% url "tillweb-department-sheet" pubname=pubname departmentid=department.id %}{% if include_finished %}?show_finished=on{% endif %}">Download as spreadsheet</a>
{% if include_finished %}
<h2>All stock items</h2>
{% else %}
<h2>Currently in stock</h2>
{% endif %}
{% with pager.items as stocklist %}
{% include "tillweb/stocklist.html" %}
{% endwith %}
{% else %}
<p>There are no stock items in this department.</p>
{% endif %}

{% if not include_finished %}
<p><a href="?show_finished=on">Include finished items</a></p>
{% endif %}

{% endblock %}
