{% extends "tillweb/tillweb.html" %}
{% load tillweb_utils %}

{% block title %}{{till}} — {{department.description}}{% endblock %}

{% block tillcontent %}

<table class="table table-sm w-auto mb-2">
  <tr><th scope="row">Number:</th><td>{{department.id}}</td></tr>
  <tr><th scope="row">Description:</th><td>{{department.description}}</td></tr>
  <tr><th scope="row">VAT band:</th><td><a href="{{department.vat.get_absolute_url}}">{{department.vat.description}}</td></tr>
  {% if department.minprice %}
  <tr>
    <th scope="row">Minimum price per item:</th>
    <td>{{money}}{{department.minprice}}</td>
  </tr>
    {% endif %}
  {% if department.maxprice %}
  <tr>
    <th scope="row">Maximum price per item:</th>
    <td>{{money}}{{department.maxprice}}</td>
  </tr>
  {% endif %}
  {% if department.minabv %}
  <tr>
    <th scope="row">Minimum ABV of stock:</th>
    <td>{{department.minabv}}%</td>
  </tr>
  {% endif %}
  {% if department.maxabv %}
  <tr>
    <th scope="row">Maximum ABV of stock:</th>
    <td>{{department.maxabv}}%</td>
  </tr>
  {% endif %}
  {% if department.notes %}
  <tr><th scope="row">Notes:</th><td>{{department.notes}}</td></tr>
  {% endif %}
  {% if department.sales_account %}
  <tr>
    <th scope="row">Sales account:</th>
    <td>{{department.sales_account}}</td>
  </tr>
  {% endif %}
  {% if department.purchases_account %}
  <tr>
    <th scope="row">Purchases account:</th>
    <td>{{department.purchases_account}}</td>
  </tr>
  {% endif %}
</table>

{% if may_edit %}
<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#changeModal">
  Change details
</button>

{% modal "changeModal" dialog_class="modal-lg" title="Edit department" %}
<form id="changeForm" action="" method="post">{% csrf_token %}
  <div class="modal-body">
    <div class="container-fluid">
      {% include "form-horizontal.html" %}
      <p><strong>N.B.</strong> If you change the VAT band of this
	department, the new band will apply to <strong>all sales in
	  the past</strong> as well as future sales. Please ensure the
	new band is compatible with the previous band up to the date
	of the change.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" name="submit_update">
      Update department details
    </button>
  </div>
</form>
{% endmodal %}
{% endif %}

<h2>Stock items</h2>

<div class="d-none alert alert-info" id="no_stock_message">
  There are no stock items in this department.
</div>

<div class="form-check mb-2">
  <input type="checkbox" class="form-check-input" id="include_finished">
  <label class="form-check-label" for="include_finished">
    Include finished items in the table
  </label>
</div>

<table class="table table-striped table-sm table-hover" id="stocklist">
  <thead class="table-light">
    <tr>
      <th scope="col">Stock ID</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Name</th>
      <th scope="col">ABV</th>
      <th scope="col">Cost Price</th>
      <th scope="col">Used</th>
      <th scope="col">Sold</th>
      <th scope="col">Remaining</th>
      <th scope="col">Best Before</th>
      <th scope="col" class="no-sort">State</th>
    </tr>
  </thead>
</table>

<script type="text/javascript">
  $(document).ready(function() {
      let include_finished = false;
      const stocklist_api = $("#stocklist").DataTable({
	  ajax: {
	      url: '{% url "tillweb-datatable-stockitems" %}',
	      dataSrc: 'data',
	      data: function (d) {
		  /* Restrict to this page's department, before the
		     count of items in the table */
		  d.department_pre_filter = {{department.id}};
		  d.include_finished = include_finished ? 'yes': 'no';
	      },
	  },
	  columns: [
	      { data: 'stockid',
		render: render_link('stock_url', DataTable.render.text()),
	      },
	      { data: 'manufacturer',
		render: render_link('manufacturer_url', DataTable.render.text()),
	      },
	      { data: 'name',
		render: render_link('stocktype_url', DataTable.render.text()),
	      },
	      { data: 'abv',
		render: render_abv(),
	      },
	      { data: 'costprice',
		render: render_money(),
	      },
	      { data: 'used',
		render: DataTable.render.text(),
	      },
	      { data: 'sold',
		render: DataTable.render.text(),
	      },
	      { data: 'remaining',
		render: DataTable.render.text(),
	      },
	      { data: 'bestbefore',
		render: DataTable.render.text(),
		createdCell: function (td, cellData, rowData, row, col) {
		    $(td).addClass(rowData.bestbefore_class);
		},
	      },
	      { data: 'state',
		render: render_link('state_url', DataTable.render.text()),
		searchable: false,
	      },
	  ],
	  order: [[0, 'desc']],
	  searching: true,
	  paging: true,
	  serverSide: true,
      });
      $("#include_finished").change(function() {
	  include_finished = this.checked;
	  stocklist_api.ajax.reload(null, true);
      });
      stocklist_api.on('draw', function () {
	  if (stocklist_api.page.info().recordsTotal == 0) {
	      $("#no_stock_message").removeClass("d-none");
	  }
      });
  });
</script>
{% endblock %}
