{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Departments{% endblock %}

{% block tillcontent %}

<table class="table table-striped table-sm" id="departments">
  <thead class="table-light">
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Description</th>
      <th scope="col">Band</th>
      <th scope="col">Min price</th>
      <th scope="col">Max price</th>
      <th scope="col">Min ABV</th>
      <th scope="col">Max ABV</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
{% for d in depts %}
<tr>
<td><a href="{{d.get_absolute_url}}">{{d.id}}</a></td>
<td><a href="{{d.get_absolute_url}}">{{d.description}}</a></td>
<td>{{d.vat.band}} ({{d.vat.description}})</td>
<td>{% if d.minprice %}{{money}}{{d.minprice}}{% endif %}</td>
<td>{% if d.maxprice %}{{money}}{{d.maxprice}}{% endif %}</td>
<td>{% if d.minabv is not None %}{{d.minabv}}%{% endif %}</td>
<td>{% if d.maxabv is not None %}{{d.maxabv}}%{% endif %}</td>
<td>{% if d.notes %}{{d.notes}}{% endif %}</td>
</tr>
{% endfor %}
  </tbody>
</table>

{% if may_create_department %}
<a href="{% url "tillweb-create-department" %}" class="btn btn-secondary">Add new department</a>
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
  $("#departments").DataTable();
});
</script>

{% endblock %}
