{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Group "{{group.id}}"{% endblock %}

{% block tillcontent %}

<table class="kvtable">
<tr><th scope="row">ID:</th><td>{{group.id}}</td></tr>
<tr><th scope="row">Description:</th><td>{{group.description}}</td></tr>
</table>

<h2>Permissions</h2>

{% if group.permissions %}
<table class="table table-striped table-hover table-sm w-auto" id="permissionlist">
<thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
  </tr>
</thead>
<tbody>
{% for p in group.permissions %}
<tr><td>{{p.id}}</td><td>{{p.description}}</td></tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#permissionlist").tablesorter();
});
</script>
{% else %}
<p>This group does not have any permissions defined.</p>
{% endif %}

{% endblock %}
