{% extends "tillweb/tillweb.html" %}
{% load static %}
{% load tillweb_utils %}

{% block style %}
{{ block.super }}
<link rel="STYLESHEET" type="text/css" href="{% static "tillweb/multi-select/css/multi-select.css" %}" />
{% endblock %}

{% block jquery %}
{{ block.super }}
<script type="text/javascript" src="{% static "tillweb/multi-select/js/jquery.multi-select.js" %}"></script>
{% endblock %}

{% block title %}{{till}} — Group "{{group.id}}"{% endblock %}

{% block tillcontent %}

<table class="table">
  <tbody>
    <tr><th scope="row">Name:</th><td>{{group.id}}</td></tr>
    <tr><th scope="row">Description:</th><td>{{group.description}}</td></tr>
    <tr><th scope="row">Permissions:</th>
      <td>
	{% if group.permissions %}
	<table class="table table-striped table-hover table-sm" id="permissionlist">
	  <thead class="table-light">
	    <tr>
	      <th scope="col">Name</th>
	      <th scope="col">Description</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for p in group.permissions %}
	    <tr><td>{{p.id}}</td><td>{{p.description}}</td></tr>
	    {% endfor %}
	  </tbody>
	</table>
	{% else %}
	This group does not have any permissions defined.
	{% endif %}
      </td>
    </tr>
    <tr><th scope="row">Users:</th>
      <td>
	{% if group.users %}
	{% for u in group.users %}<a href="{{u.get_absolute_url}}">{{u.fullname}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
	{% else %}
	This group has not been assigned to any users.
	{% endif %}
      </td>
    </tr>
  </tbody>
</table>
{% if group.permissions %}
<script type="text/javascript">
  $(document).ready(function(){
      $("#permissionlist").DataTable(dt_sortonly);
  });
</script>
{% endif %}

{% if form %}
<button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#groupModal">
  Update group details
</button>

{% modal "groupModal" dialog_class="modal-xl" title="Edit group" %}
<form action="" method="post">{% csrf_token %}
  <div class="modal-body">
    {% include "form-horizontal.html" %}
    {% if not can_delete %}
    <p class="mb-0">N.B. this group cannot currently be deleted because
      it is still assigned to at least one user.</p>
    {% endif %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger" name="submit_delete"{% if not can_delete %} disabled{% endif %}>
      Delete
    </button>
    <button type="submit" class="btn btn-primary" name="submit_update">
      Update
    </button>
  </div>
</form>
{% endmodal %}

<script type="text/javascript">
  $(document).ready(function(){
      $("#id_permissions").multiSelect({
	  selectableHeader: "<div>Available permissions</div>",
	  selectionHeader: "<div>Selected permissions</div>"});
  });
</script>
{% endif %}

{% endblock %}
