{% extends "tillweb/tillweb.html" %}
{% load url from future %}

{% block title %}{{till}}{% endblock %}

{% block heading %}{{till}}{% endblock %}

{% block tillcontent %}

<table class="bordered">
<tr><th>Current session</th>
{% for desc,start,end,totals in weeks %}
<th>{{desc}}</th>
{% endfor %}</tr>
<tr><td>
{% if currentsession %}
<a href="{{u}}{{currentsession.tillweb_url}}">
{{currentsession.id}} ({{currentsession.date}})<br />
{% for vr,t,ex,vat in currentsession.vatband_totals %}
{{vr.business.abbrev}}: <span class="money">{{t}}</span><br />
{% endfor %}</a>
{% else %}No current session{% endif %}
</td>
{% for desc,start,end,totals in weeks %}
<td>{{start}}–{{end}}<br />
{% for business,total in totals %}
{% if total %}{{business.abbrev}}: <span class="money">{{total}}</span><br />{% endif %}
{% endfor %}
</td>
{% endfor %}</tr>

</table>

<h2>On the bar</h2>

{% with barsummary as lines %}
{% include "tillweb/linelist.html" %}
{% endwith %}

<p><a href="{{u}}location/">Other locations</a></p>

<h2>On the stillage</h2>

<table id="stillage">
<thead>
<tr><th>Location</th><th>Time</th><th>Cask</th>
<th>Used</th><th>Remaining</th><th>Line</th></tr>
</thead>
<tbody>
{% for s in stillage %}
<tr class="{% cycle 'odd' 'even' %}">
<td>{{s.text}}</td><td>{{s.time|date:dtf}}</td>
<td><a href="{{u}}{{s.stockitem.tillweb_url}}">
{{s.stockitem.stocktype.fullname}}</a></td>
<td>{{s.stockitem.used}} {{s.stockitem.stocktype.unit.name}}s</td>
<td>{{s.stockitem.remaining}} {{s.stockitem.stocktype.unit.name}}s</td>
<td>{% if s.stockitem.stockline %}<a href="{{u}}{{s.stockitem.stockline.tillweb_url}}">{{s.stockitem.stockline.name}}</a>{% endif %}</td></tr>
{% endfor %}
</tbody>
</table>

<script type="text/javascript">
$(document).ready(function(){
  $("#stillage").tablesorter({widgets:["zebra"]});
});
</script>

{% endblock %}
