{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}}{% endblock %}

{% block tillcontent %}

<div class="row text-center">
  <div class="col-6 col-md-3">
    <strong>Current session</strong>
    <div class="border">
{% if currentsession %}
<a href="{{currentsession.get_absolute_url}}">
{{currentsession.id}} ({{currentsession.date}})<br>
{% for vr,t,ex,vat in currentsession.vatband_totals %}
{{vr.business.abbrev}}: {{money}}{{t}}<br>
{% endfor %}{% if currentsession.pending_total %}({{money}}{{currentsession.pending_total}} unpaid){% endif %}</a>
{% else %}No current session{% endif %}
{% if deferred %}
<br><a href="{% url "tillweb-transactions" %}?state=deferred">{{money}}{{deferred}} deferred transactions</a>
{% endif %}
    </div>
  </div>
  {% for desc,start,end,totals in weeks %}
  <div class="col-6 col-md-3">
    <strong>{{desc}}</strong>
    <div class="border">
    {{start}}–{{end}}<br>
{% for business,total in totals %}
{% if total %}{{business.abbrev}}: {{money}}{{total}}<br>{% endif %}
{% endfor %}
    </div>
  </div>
{% endfor %}
</div>

<ul class="nav nav-tabs mt-3 w-100" id="barTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="barSummaryTab" data-bs-toggle="tab" href="#barSummary" role="tab" aria-controls="barSummary" aria-selected="true">On the bar</a>
  </li>
  {% if stillage %}
  <li class="nav-item">
    <a class="nav-link" id="stillageTab" data-bs-toggle="tab" href="#stillage" role="tab" aria-controls="stillage" aria-selected="false">On the stillage</a>
  </li>
  {% endif %}
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="barSummary" aria-labelledby="barSummaryTab">
{% if barsummary %}
<div>
{% with barsummary as lines %}
{% include "tillweb/linelist.html" %}
{% endwith %}

<p><a href="{% url "tillweb-locations" %}">Other locations</a></p>
</div>
{% else %}
<p><a href="{% url "tillweb-locations" %}">Stock locations</a></p>
{% endif %}
  </div>
  {% if stillage %}
  <div class="tab-pane fade" id="stillage" aria-labelledby="stillageTab">
    <div class="table-responsive">
      <table id="stillageTable" class="table table-striped table-hover table-sm">
	<thead class="table-light">
	  <tr>
	    <th scope="col">Location</th>
	    <th scope="col">Time</th>
	    <th scope="col">Cask</th>
	    <th scope="col">Used</th>
	    <th scope="col">Remaining</th>
	    <th scope="col">Line</th>
	  </tr>
	</thead>
	<tbody>
{% for s in stillage %}
<tr>
<td>{{s.text}}</td><td>{{s.time|date:dtf}}</td>
<td><a href="{{s.stockitem.get_absolute_url}}">
{{s.stockitem.stocktype.fullname}}</a></td>
<td>{{s.stockitem.used}} {{s.stockitem.stocktype.unit.name}}s</td>
<td>{{s.stockitem.remaining}} {{s.stockitem.stocktype.unit.name}}s</td>
<td>{% if s.stockitem.stockline %}<a href="{{s.stockitem.stockline.get_absolute_url}}">{{s.stockitem.stockline.name}}</a>{% endif %}</td></tr>
{% endfor %}
	</tbody>
      </table>
    </div>
<script type="text/javascript">
$(document).ready(function(){
  $("#stillageTable").tablesorter();
});
</script>
  </div>
  {% endif %}
</div>

{% endblock %}
