<table id="linelist">
<thead>
<tr><th>Line</th><th>StockID</th><th>Product</th><th>ABV</th><th>Price</th>
<th>Started</th><th colspan="2" class="sorter-false">State</th></tr>
</thead>
<tbody>
{% for line in lines %}
{% for item in line.stockonsale %}
<tr class="{% cycle 'odd' 'even' as barzebra %}">
<td><a href="{{u}}{{line.tillweb_url}}">{{line.name}}</a></td>
<td><a href="{{u}}{{item.tillweb_url}}">{{item.id}}</a></td>
<td><a href="{{u}}{{item.stocktype.tillweb_url}}">
{{item.stocktype.fullname}}</a></td>
<td>{{item.stocktype.abvstr}}</td>
<td><span class="money">{{item.stocktype.saleprice}}</span>/{{item.stocktype.unit.name}}</td>
<td>{{item.onsale|date:dtf}}</td>
{% if item.ondisplay == None %}
<td>{{item.used}} {{item.stocktype.unit.name}}s used</td>
<td>{{item.remaining}} {{item.stocktype.unit.name}}s remaining</td>
{% else %}
<td>{{item.ondisplay}} on display</td>
<td>{{item.instock}} in stock</td>
{% endif %}
</tr>
{% empty %}
<tr class="{% cycle barzebra %}">
<td><a href="{{u}}{{line.tillweb_url}}">
{{line.name}}</a></td><td></td><td></td><td></td><td></td><td></td>
<td colspan="2"></td></tr>
{% endfor %}
{% endfor %}
</tbody>
</table>

<script type="text/javascript">
$(document).ready(function(){
  $("#linelist").tablesorter({widgets:["zebra"]});
});
</script>
