{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Locations{% endblock %}

{% block heading %}{{till}} — Locations{% endblock %}

{% block tillcontent %}

<p>Each stock line has a "location", which is used here to put the
stock lines into groups.  You can edit the location on the till.</p>

<p>The special location "Bar" is displayed on
the <a href="{% url "tillweb-pubroot" pubname=pubname %}">front page</a>.</p>

<ul>
{% for l in locations %}
<li><a href="{% url "tillweb-location" pubname=pubname location=l %}">{{l}}</a></li>
{% endfor %}
</ul>

{% endblock %}
