{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Locations{% endblock %}

{% block tillcontent %}

<p>Each stock line has a "location", which is used here to put the
stock lines into groups.  You can edit the location on the till.</p>

<p>The special location "Bar" is displayed on
the <a href="{% url "tillweb-pubroot" %}">front page</a>.</p>

<ul class="nav flex-column">
{% for l in locations %}
<li class="nav-item"><a class="nav-link" href="{% url "tillweb-location" location=l %}">{{l}}</a>
</li>
{% endfor %}
</ul>

{% endblock %}
