{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — log entry {{log.id}}{% endblock %}

{% block heading %}{{till}} — log entry {{log.id}}{% endblock %}

{% block tillcontent %}

<table class="table w-auto">
  <tr><th scope="row">ID</th><td>{{log.id}}</td></tr>
  <tr><th scope="row">Time</th><td>{{log.time}}</td></tr>
  <tr><th scope="row">Source</th><td>{{log.source}}</td></tr>
  <tr><th scope="row">User</th><td><a href="{{log.loguser.get_absolute_url}}">{{log.loguser}}</a></td></tr>
  {% if log.sourceaddr %}<tr><th scope="row">Source address</th><td>{{log.sourceaddr}}</td></tr>{% endif %}
  <tr><th scope="row">Description</th><td>{{log.as_html|safe}}</td></tr>
</table>

{% endblock %}
