<table id="payments">
<thead>
<tr>
{% if excluded_column != "transaction" %}<th>Transaction</th>{% endif %}
<th>ID</th><th>Description</th><th>Amount</th><th>Time</th>
{% if excluded_column != "user" %}<th>User</th>{% endif %}
</tr>
</thead>
<tbody>
{% for p in payments %}
<tr class="{% cycle 'odd' 'even' %}">
{% if excluded_column != "transaction" %}
<td><a href="{{u}}{{p.transaction.tillweb_url}}">{{p.transaction.id}}</a></td>
{% endif %}
<td>{{p.id}}</td><td>{{p.paytype}}{% if p.ref %} ({{p.ref}}){% endif %}</td>
<td class="money">{{p.amount}}</td><td>{{p.time|date:dtf}}</td>
{% if excluded_column != "user" %}
<td>{% if p.user %}<a href="{{u}}{{p.user.tillweb_url}}">{{p.user.fullname}}</a>{% endif %}</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#payments").tablesorter({widgets:["zebra"]});
});
</script>
