{% extends "tillweb/tillweb.html" %}
{% load static %}

{% block title %}{{till}} — {{paytype.description}} payment method{% endblock %}

{% block heading %}{{till}} — {{paytype.description}} payment method{% endblock %}

{% block style %}
{{ block.super }}
<link rel="STYLESHEET" type="text/css" href="{% static "tillweb/json-viewer.css" %}" />
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "tillweb/json-viewer.js" %}"></script>
{% endblock %}

{% block tillcontent %}

{% if may_edit %}
<form class="mb-2" action="" method="post">{% csrf_token %}
  {% include "form-horizontal.html" %}
  <button class="btn btn-primary" type="submit" name="submit_update">
    Update payment method
  </button>
  {% if not recent_payments and not recent_totals %}
  <button class="btn btn-danger" type="submit" name="submit_delete">
    Delete payment method
  </button>
  {% endif %}
</form>
{% else %}
<table class="kvtable mb-2">
<tr><th scope="row">Code</th><td>{{paytype.paytype}}</td></tr>
<tr><th scope="row">Description</th><td>{{paytype.description}}</td></tr>
<tr><th scope="row">Driver name</th><td>{{paytype.driver_name}}</td></tr>
<tr><th scope="row">Mode</th><td>{{paytype.mode_display}}</td></tr>
<tr><th scope="row">Config</th><td>{{paytype.config}}</td></tr>
<tr><th scope="row">Payments account</th><td>{{paytype.payments_account}}</td></tr>
<tr><th scope="row">Fees account</th><td>{{paytype.fees_account}}</td></tr>
<tr><th scope="row">Payment date policy</th><td>{{paytype.payment_date_policy}}</td></tr>
</table>
{% endif %}

{% if paytype.state %}
<h2>Internal state</h2>
<div class="json-state">{{paytype.state}}</div>

<script type="text/javascript">
  let elements = document.querySelectorAll('.json-state');

  for (let elem of elements) {
      try {
	  jsonObj = JSON.parse(elem.innerText);
	  elem.innerText = "";
	  jsonViewer = new JSONViewer();
	  elem.appendChild(jsonViewer.getContainer());
	  jsonViewer.showJSON(jsonObj, null, 0);
      } catch (err) {
      }
  }
</script>
{% endif %}

<ul class="nav nav-tabs mb-2" id="tables" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="payments-tab" data-toggle="tab" href="#payments-panel" role="tab" aria-controls="payments-panel" aria-selected="true">Payments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="totals-tab" data-toggle="tab" href="#totals-panel" role="tab" aria-controls="totals-panel" aria-selected="false">Totals</a>
  </li>
  {% if paytype.logs %}
  <li class="nav-item">
    <a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs-panel" role="tab" aria-controls="logs-panel" aria-selected="false">Logs</a>
  </li>
  {% endif %}
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="payments-panel" role="tabpanel" aria-labelledby="payments-tab">
    <table class="table table-sm table-striped" id="payments">
      <thead class="thead-light">
	<tr>
	  <th scope="col">ID</th>
	  <th scope="col">Transaction</th>
	  <th scope="col">Description</th>
	  <th scope="col">Amount</th>
	  <th scope="col">Time</th>
	  <th scope="col">Source</th>
	  <th scope="col">Pending?</th>
	  <th scope="col">User</th>
	</tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="totals-panel" role="tabpanel" aria-labelledby="totals-tab">
    <table class="table table-striped table-sm" id="totals">
      <thead>
	<tr>
	  <th scope="col">Session</th>
	  <th scope="col">Date</th>
	  <th scope="col">Total amount</th>
	  <th scope="col">Fees</th>
	  <th scope="col">Payment amount</th>
	</tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  {% if paytype.logs %}
  <div class="tab-pane fade" id="logs-panel" role="tabpanel" aria-labelledby="logs-tab">
    {% with logs=paytype.logs %}{% include "tillweb/loglist.html" %}{% endwith %}
  </div>
  {% endif %}
</div>

<script type="text/javascript">
  $(document).ready(function() {
      const payments_api = $("#payments").DataTable({
	  ajax: {
	      url: '{% url "tillweb-datatable-payments" pubname=pubname %}',
	      dataSrc: 'data',
	      data: function (d) {
		  d.paytype = '{{paytype.paytype}}';
	      },
	  },
	  columns: [
	      { data: 'id',
		render: render_link('url', DataTable.render.text()),
	      },
	      { data: 'transid',
		render: render_link('trans_url', DataTable.render.text()),
	      },
	      { data: 'text',
		render: DataTable.render.text(),
	      },
	      { data: 'amount',
		render: render_money(),
	      },
	      { data: 'time',
		render: render_link('url', DataTable.render.datetime()),
		searchable: false,
	      },
	      { data: 'source',
		render: DataTable.render.text(),
	      },
	      { data: 'pending',
		render: render_yesno(),
		searchable: false,
	      },
	      { data: 'user',
		render: render_link('user_url', DataTable.render.text()),
	      },
	  ],
	  order: [ [0, 'desc'] ],
	  searching: true,
	  paging: true,
	  serverSide: true,
      });
      const totals_api = $("#totals").DataTable({
	  ajax: {
	      url: '{% url "tillweb-datatable-sessiontotals" pubname=pubname %}',
	      dataSrc: 'data',
	      data: function (d) {
		  d.paytype = '{{paytype.paytype}}';
	      },
	  },
	  columns: [
	      { data: 'sessionid',
		render: render_link('session_url', DataTable.render.text()),
	      },
	      { data: 'date',
		render: render_link('session_url', DataTable.render.date()),
		searchable: false,
	      },
	      { data: 'amount',
		render: render_money(),
	      },
	      { data: 'fees',
		render: render_money(),
	      },
	      { data: 'payment_amount',
		render: render_money(),
	      },
	  ],
	  order: [ [0, 'desc'] ],
	  searching: true,
	  paging: true,
	  serverSide: true,
	  deferLoading: 1,
      });
      /* Load the table data in the totals tab the first time it is shown */
      $('#totals-tab').on('show.bs.tab', function (e) {
	  totals_api.ajax.reload(null, false);
	  $('#totals-tab').off('show.bs.tab');
      });
  });
</script>

{% endblock %}
