{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — price lookup "{{plu.description}}"{% endblock %}

{% block tillcontent %}

{% if form %}
<form action="" method="post">{% csrf_token %}
  {% include "form-horizontal.html" %}
  <button class="btn btn-primary" type="submit" name="submit_update">
    Update
  </button>
  <button class="btn btn-danger" type="submit" name="submit_delete">
    Delete
  </button>
</form>
<p>Note: clicking Delete will remove this price lookup, its keyboard
  bindings and barcodes immediately.</p>
{% else %}
<table class="kvtable">
<tr><th>Description</th><td>{{plu.description}}</td></tr>
<tr><th>Department</th><td>{{plu.department}}</td></tr>
<tr><th>Note</th><td>{{plu.note}}</td></tr>
<tr><th>Price</th>{% if plu.price %}<td class="money">{{money}}{{plu.price}}</td>{% else %}<td></td>{% endif %}</tr>
<tr><th>Alt price 1</th>{% if plu.altprice1 %}<td class="money">{{money}}{{plu.altprice1}}</td>{% else %}<td></td>{% endif %}</tr>
<tr><th>Alt price 2</th>{% if plu.altprice2 %}<td class="money">{{money}}{{plu.altprice2}}</td>{% else %}<td></td>{% endif %}</tr>
<tr><th>Alt price 3</th>{% if plu.altprice3 %}<td class="money">{{money}}{{plu.altprice3}}</td>{% else %}<td></td>{% endif %}</tr>
</table>
{% endif %}

{% include "tillweb/bindings.html" %}

{% endblock %}
