{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — price lookup "{{plu.description}}"{% endblock %}

{% block tillcontent %}

<table class="kvtable">
<tr><th>Description</th><td>{{plu.description}}</td></tr>
<tr><th>Department</th><td>{{plu.department}}</td></tr>
<tr><th>Note</th><td>{{plu.note}}</td></tr>
<tr><th>Price</th>{% if plu.price %}<td class="money">{{money}}{{plu.price}}</td>{% else %}<td></td>{% endif %}</tr>
<tr><th>Alt price 1</th>{% if plu.altprice1 %}<td class="money">{{money}}{{plu.altprice1}}</td>{% else %}<td></td>{% endif %}</tr>
<tr><th>Alt price 2</th>{% if plu.altprice2 %}<td class="money">{{money}}{{plu.altprice2}}</td>{% else %}<td></td>{% endif %}</tr>
<tr><th>Alt price 3</th>{% if plu.altprice3 %}<td class="money">{{money}}{{plu.altprice3}}</td>{% else %}<td></td>{% endif %}</tr>
</table>

{% if plu.keyboard_bindings %}
<h2>Keyboard bindings</h2>
<table class="table table-striped table-hover w-auto">
  <thead class="thead-light">
    <tr>
      <th>Keycode</th>
      <th>Menu key</th>
      <th>Default modifier</th>
    </tr>
  </thead>
{% for kb in plu.keyboard_bindings %}
<tr><td>{{kb.keycode}}{% if kb.keycap %} ({{kb.keycap.keycap}}){% endif %}</td>
<td>{{kb.menukey}}</td><td>{% if kb.modifier %}{{kb.modifier}}{% endif %}</td></tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
