{% extends "tillweb/tillweb.html" %}
{% load tillweb_utils %}

{% block title %}{{till}} — Price Lookups{% endblock %}

{% block tillcontent %}

<table class="table table-striped table-hover" id="plulist">
<thead class="table-light">
  <tr>
    <th scope="col">Description</th>
    <th scope="col">Department</th>
    <th scope="col">Price</th>
    <th scope="col">Alt price 1</th>
    <th scope="col">Alt price 2</th>
    <th scope="col">Alt price 3</th>
    <th scope="col">Note</th>
  </tr>
</thead>
<tbody>
{% for p in plus %}
<tr>
<td><a href="{{p.get_absolute_url}}">{{p.description}}</a></td>
<td data-sort="{{p.department.id}}"><a href="{{p.department.get_absolute_url}}">{{p.department}}</a></td>
{% if p.price %}<td class="money">{{money}}{{p.price}}</td>{% else %}<td></td>{% endif %}
{% if p.altprice1 %}<td class="money">{{money}}{{p.altprice1}}</td>{% else %}<td></td>{% endif %}
{% if p.altprice2 %}<td class="money">{{money}}{{p.altprice2}}</td>{% else %}<td></td>{% endif %}
{% if p.altprice3 %}<td class="money">{{money}}{{p.altprice3}}</td>{% else %}<td></td>{% endif %}
<td>{% if p.note %}{{p.note}}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

<script type="text/javascript">
$(document).ready(function(){
  $("#plulist").DataTable();
});
</script>

{% if form %}
<button class="btn btn-primary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#createModal">
  Add new price lookup
</button>

{% modal "createModal" dialog_class="modal-lg" title="Add new price lookup" %}
<form action="" method="post">{% csrf_token %}
  <div class="modal-body">
    {% include "form-horizontal.html" %}
    <p class="mb-0">Note: keyboard bindings for this price lookup can
      only be created on the till.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" name="submit_create">
      Create price lookup
    </button>
  </div>
</form>
{% endmodal %}

{% if form.errors %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#createModal').modal('show');
  });
</script>
{% endif %}
{% endif %}

{% endblock %}
