{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Till access{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Tills" "tillweb-publist" %}
{% endblock %}

{% block content %}

<main class="container">
{% if access %}
<p>You can access these pub tills:</p>
<ul>
{% for a in access %}
<li><a href="{{a.till.get_absolute_url}}">{{a.till.name}}</a>
({{a.get_permission_display}})</li>
{% endfor %}
</ul>
{% else %}
<p>You do not have access to any pub tills.</p>
{% endif %}
</main>
{% endblock %}
