{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Reports{% endblock %}

{% block tillcontent %}

<h2>Reports</h2>

<ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link" href="{% url 'tillweb-report-wasted-stock' pubname=pubname %}">Wasted stock</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'tillweb-report-stock-sold' pubname=pubname %}">Stock sold</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'tillweb-stockcheck' pubname=pubname %}">Buying list</a></li>
</ul>

{% endblock %}
