{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Reports{% endblock %}

{% block tillcontent %}

<h2>Reports</h2>

<ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link" href="{% url 'tillweb-report-wasted-stock' %}">Wasted stock</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'tillweb-report-stock-sold' %}">Stock sold</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'tillweb-report-stock-value' %}">Unsold stock value</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'tillweb-stockcheck' %}">Buying list</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'tillweb-report-transline-summary' %}">Transaction lines</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'tillweb-refusals' %}">Refusals log</a></li>
</ul>

{% endblock %}
