<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
  {% for value, label in widget.options %}<option value="{{value}}" selected>{{label}}</option>
  {% endfor %}
</select>
<script type="text/javascript">
  $(document).ready(function(){
      const s2w = $("#{{widget.attrs.id}}");
      const args = {{widget.select2_args|safe}};
      var dropdownParent = $(document.body);
      if (s2w.parents('.modal:first').length !== 0) {
          dropdownParent = s2w.parents('.modal:first');
      }
      args['dropdownParent'] = dropdownParent;
      s2w.select2(args);
  });
</script>
