{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Sessions{% endblock %}

{% block heading %}{{till}} — Sessions{% endblock %}

{% block tillcontent %}

<h2>Find session</h2>
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Find" name="submit_find" />
</form>

<h2>Recent sessions</h2>

<table id="recentsessions">
<thead>
<tr><th>ID</th><th>Date</th><th>Day</th>
<th>Till Total</th><th>Actual Total</th></tr>
</thead>
<tbody>
{% for s in recent %}
<tr class="{% cycle 'odd' 'even' %}">
<td><a href="{{u}}{{s.tillweb_url}}">{{s.id}}</a></td>
<td><a href="{{u}}{{s.tillweb_url}}">{{s.date}}</a></td>
<td>{{s.date|date:"l"}}</td>
<td class="money">{{s.total}}</td>
{% if s.actual_total %}
<td class="money">{{s.actual_total}}</td>
{% else %}
<td></td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#recentsessions").tablesorter({widgets:["zebra"]});
});
</script>

<h2>Download spreadsheet</h2>
<form action="" method="post">{% csrf_token %}
{{ rangeform.as_p }}
<input type="submit" value="Download" name="submit_sheet" />
</form>

<script type="text/javascript">
var dtpicker_options = {firstDay: 1,
  dateFormat: 'yy-mm-dd'};
$(document).ready(function(){
 $("#id_startdate").datepicker(dtpicker_options);
 $("#id_enddate").datepicker(dtpicker_options);
});
</script>

{% endblock %}
