{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Session {{session.id}} — {{department.description}}{% endblock %}

{% block heading %}{{till}} — Session {{session.id}} ({{session.date}}) — {{department.description}}{% endblock %}

{% block tillcontent %}

{% if translines %}
{% with exclude_column="department" %}
{% include "tillweb/translinelist.html" %}
{% endwith %}
{% else %}
<p>There are no transactions for the {{department.description}}
department in session {{session.id}}.</p>
{% endif %}

{% endblock %}
