{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Session {{session.id}}{% endblock %}

{% block heading %}{{till}} — Session {{session.id}} ({{session.date}}){% endblock %}

{% block tillcontent %}

{% if session.endtime %}
<p>{{session.starttime}}–{{session.endtime}}</p>
{% else %}
<p>Started {{session.starttime}}</p>
{% endif %}

{% if session.endtime %}
{% if session.actual_totals %}
<table>
<tr>
{% for p in session.actual_totals %}
<td><strong>{{p.paytype.description}}</strong><br /><span class="money">{{p.amount}}</span></td>
{% endfor %}
<td><strong>Error</strong><br /><span class="money">{{session.error}}</span></td>
{% for vb,t,ex,vat in session.vatband_totals %}
{% if vb.business.show_vat_breakdown %}
<td><strong>{{vb.business}} ex-VAT</strong><br /><span class="money">{{ex}}</span></td>
<td><strong>{{vb.business}} VAT</strong><br /><span class="money">{{vat}}</span></td>
{% else %}
<td><strong>{{vb.business}}</strong><br /><span class="money">{{t}}</span></td>
{% endif %}
{% endfor %}
</tr>
</table>
{% else %}
<p>Session totals have not yet been recorded.</p>
{% endif %}
{% endif %}

<div id="tabs" style="min-width: 550px">
<ul>
<li><a href="takings-by-dept.html">Takings by department</a></li>
{% if not session.endtime %}<li><a href="#paytype-takings">Takings by payment type</a></li>{% endif %}
<li><a href="takings-by-user.html">Takings by user</a></li>
<li><a href="stock-sold.html">Stock sold</a></li>
<li><a href="transactions.html">Transactions</a></li>
</ul>

{% if not session.endtime %}
<div id="paytype-takings">
<p>Takings recorded so far this session.  May include part-paid
transactions.</p>
<table>
<tr><th>Type</th><th>Amount</th></tr>
{% for type,amount in session.payment_totals %}
<tr><td>{{type}}</td><td class="money">{{amount}}</td></tr>
{% endfor %}
</table>
</div>
{% endif %}

</div>
<script type="text/javascript">
$(function() {
  $("#tabs").tabs();
});
</script>

{% endblock %}
