{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Sessions{% endblock %}

{% block heading %}{{till}} — Sessions{% endblock %}

{% block tillcontent %}

<h2>Find session</h2>
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Find" />
</form>

<h2>Recent sessions</h2>

<table id="recentsessions">
<thead>
<tr><th>ID</th><th>Date</th></tr>
</thead>
<tbody>
{% for s in recent %}
<tr><td><a href="{{u}}{{s.tillweb_url}}">{{s.id}}</a></td>
<td><a href="{{u}}{{s.tillweb_url}}">{{s.date}}</a></td></tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#recentsessions").tablesorter({widgets:["zebra"]});
});
</script>

{% endblock %}
