{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Sessions{% endblock %}

{% block tillcontent %}

<div class="mb-2">
<h2>Sessions</h2>

<table class="table table-sm table-striped" id="sessions">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
      <th scope="col">Day</th>
      <th scope="col">Discounts</th>
      <th scope="col">Till Total</th>
      <th scope="col">Actual Total</th>
      <th scope="col">Difference</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#sessions").DataTable({
	ajax: {
	    url: '{% url "tillweb-datatable-sessions" pubname=pubname %}',
	    dataSrc: 'data'
	},
	columns: [
	    { data: 'id',
	      render: render_link('url', DataTable.render.text()),
	      searchable: false },
	    { data: 'date',
	      render: render_link('url', DataTable.render.date()),
	      searchable: false },
	    { data: 'day',
	      render: render_day(),
	      orderable: false },
	    { data: 'discount',
	      render: render_money(),
	      searchable: false },
	    { data: 'till_total',
	      render: render_money(),
	      searchable: false },
	    { data: 'actual_total',
	      render: render_money(),
	      searchable: false },
	    { data: 'difference',
	      render: render_money(),
	      searchable: false }
	],
	order: [ [0, 'desc'] ],
	searching: true,
	paging: true,
	serverSide: true
    });
  });
</script>

<div>
<h2>Download spreadsheet</h2>
<form action="" method="post">{% csrf_token %}
<table class="kvtable">
{{ rangeform.as_table }}
</table>
<button class="btn btn-secondary mb-2" type="submit" name="submit_sheet">
  Download
</button>
</form>
</div>

<script type="text/javascript">
var dtpicker_options = {firstDay: 1,
  dateFormat: 'yy-mm-dd'};
$(document).ready(function(){
 $("#id_startdate").datepicker(dtpicker_options);
 $("#id_enddate").datepicker(dtpicker_options);
});
</script>

{% endblock %}
