{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — stock line "{{stockline.name}}"{% endblock %}

{% block heading %}{{till}} — stock line "{{stockline.name}}"{% endblock %}

{% block tillcontent %}

{% if form %}
<form action="" method="post">{% csrf_token %}
  {% include "form-horizontal.html" %}
  <button class="btn btn-primary" type="submit" name="submit_update">
    Update stock line
  </button>
  <button class="btn btn-danger" type="submit" name="submit_delete" formnovalidate{% if stockline.stockonsale %} disabled{% endif %}>
    Delete stock line
  </button>
  <datalist id="locations">
    {% for l in locations %}<option value="{{l}}">{% endfor %}
  </datalist>
</form>
{% else %}
<table class="kvtable">
<tr><th>Name</th><td>{{stockline.name}}</td></tr>
<tr><th>Location</th><td><a href="{% url "tillweb-location" pubname=pubname location=stockline.location %}">{{stockline.location}}</a></td></tr>
<tr><th>Stock type</th><td>{% if stockline.stocktype %}<a href="{{stockline.stocktype.get_absolute_url}}">{{stockline.stocktype}}</a>{% else %}Unrestricted{% endif %}</td></tr>
<tr><th>Department</th><td>{% if stockline.department %}<a href="{{stockline.department.get_absolute_url}}">{{stockline.department}}</a>{% else %}Unrestricted{% endif %}</td></tr>
<tr><th>Pullthru</th><td>{{stockline.pullthru}}</td></tr>
</table>
{% endif %}

<p class="mt-2">This is a "regular" stock line.  Regular stock lines
  can have at most one stock item on sale at any one time.  Finishing
  that stock item and putting another item on sale are done explicitly
  by the staff.  They are typically used where units are dispensed
  directly from the stock item to the customer and it's obvious to the
  member of staff when the stock item is empty, for example casks/kegs
  through a pump, bottles of spirits, cards or boxes of snacks, and so
  on.</p>

{% if not stockline.stockonsale %}
<p>There is nothing currently on sale on this stock line.</p>
{% endif %}

{% if stockline.stockonsale %}
<h2>Item on sale</h2>

{% with stocklist=stockline.stockonsale exclude_column="stockline" %}
{% include "tillweb/stocklist.html" %}
{% endwith %}
{% endif %}

{% if stockline.stocktype_log %}
<h2>Stock types</h2>

<p>These types of stock have been on sale on this line:</p>

<ul>
{% for stl in stockline.stocktype_log %}
<li><a href="{{stl.stocktype.get_absolute_url}}">{{stl.stocktype}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% include "tillweb/bindings.html" %}

{% endblock %}
