{% extends "tillweb/tillweb.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{till}} — adjust {{stocktype}} in stocktake {{ss.stocktake.id}} ({{ss.stocktake.description}}){% endblock %}

{% block tillcontent %}

{% with dtc="col-4 col-sm-2 text-sm-end" ddc="col-8 col-sm-10" %}
<dl class="row lh-1">
  <dt class="{{dtc}}">Stock type</dt>
  <dd class="{{ddc}}">{{stocktype.format}}</dd>

  <dt class="{{dtc}}">Qty in stock</dt>
  <dd class="{{ddc}} lh-sm">
    {{stocktype.snapshot_qty_in_stockunits}}{% if stocktype.adjustments %} (original)<br>
    {% for code,qty in stocktype.detail_adjustments.items %}
    {{qty}} {{code|lower}}<br>
    {% endfor %}
    ⇨ <strong>{{stocktype.snapshot_newqty_in_stockunits}}</strong> (adjusted)
    {% endif %}
  </dd>
</dl>
{% endwith %}

<form action="" method="post">{% csrf_token %}

{% include "form-horizontal.html" %}

<button class="btn btn-primary mb-2" type="submit" name="submit_adjust">
  Update / adjust
</button>
<br>
<button class="btn btn-secondary mb-2" type="submit" name="submit_reset">
  Remove adjustments
</button>

</form>
{% endblock %}
