{% extends "tillweb/tillweb.html" %}
{% load tillweb_utils %}

{% block title %}{{till}} — stock take {{stocktake.id}} ({{stocktake.description}}){% endblock %}

{% block tillcontent %}

{% with dtc="col-4 col-sm-2 text-sm-end" ddc="col-8 col-sm-10" %}
<dl class="row lh-1">
  <dt class="{{dtc}}">ID</dt>
  <dd class="{{ddc}}">{{stocktake.id}}</dd>

  <dt class="{{dtc}}">Created by</dt>
  <dd class="{{ddc}}">{{stocktake.create_user}}</dd>

  <dt class="{{dtc}}">Created at</dt>
  <dd class="{{ddc}}">{{stocktake.create_time}}</dd>

  <dt class="{{dtc}}">Description</dt>
  <dd class="{{ddc}}">{{stocktake.description}}</dd>
</dl>
{% endwith %}

{% if form %}
<form action="" method="post">{% csrf_token %}
  <button class="btn btn-primary mb-2" type="submit" name="submit_start"{% if not stocktake.scope %} disabled{% endif %}>
    Start stock take
  </button>
  <a href="{% url "tillweb-stocktype-search" %}" class="btn btn-{{stocktake.scope|yesno:"secondary,primary"}} mb-2">Add {% if stocktake.scope %}more {% endif %}stock types to scope</a>
  <button class="btn btn-secondary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#descriptionModal">
    Change description
  </button>
  <button class="btn btn-danger mb-2" type="submit" name="submit_delete">
    Abandon this stock-take
  </button>
</form>

{% modal "descriptionModal" title="Change description" %}
<form action="" method="post">{% csrf_token %}
  <div class="modal-body">
    {% include "form.html" %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" name="submit_update">
      Update description
    </button>
  </div>
</form>
{% endmodal %}

<p>This stock take is being set up.  Define the set of stock types the
stock take will cover (its "scope") by adding stock types to it
using <a href="{% url "tillweb-stocktype-search" %}">the stock type
search page</a>.</p>
{% endif %}

<p>Stock that is in scope for a stock take is restricted on the till.
Although it's still possible to sell stock, it's not possible to
finish items, put new items on sale, or re-stock items when they are
in scope for a stock take.</p>

{% if stocktake.scope %}
<p>These stock types are in scope for this stock take:</p>

<table class="table table-striped table-hover table-sm">
  <thead class="table-light">
    <tr>
      <th scope="col">Manufacturer</th>
      <th scope="col">Name</th>
      <th scope="col">ABV</th>
      <th scope="col">Department</th>
      <th scope="col">Unit</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for st in stocktake.scope %}
    <tr>
      <td>{{st.manufacturer}}</td>
      <td>{{st.name}}</td>
      <td>{{st.abvstr}}</td>
      <td><a href="{{st.department.get_absolute_url}}">{{st.department}}</a></td>
      <td>{{st.unit.description}}</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>There are currently no stock types in scope for this stock take.{% if form %}  <a href="{% url "tillweb-stocktype-search" %}">Add some.</a></p>{% endif %}
{% endif %}

{% endblock %}
