{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — stock line "{{stockline.name}}"{% endblock %}

{% block heading %}{{till}} — stock line "{{stockline.name}}"{% endblock %}

{% block tillcontent %}

<table class="kvtable mb-2">
<tr><th>Name</th><td>{{stockline.name}}</td></tr>
<tr><th>Location</th><td><a href="{% url "tillweb-location" pubname=pubname location=stockline.location %}">{{stockline.location}}</a></td></tr>
<tr><th>Stock type</th><td>{% if stockline.stocktype %}<a href="{{stockline.stocktype.get_absolute_url}}">{{stockline.stocktype}}</a>{% else %}Unrestricted{% endif %}</td></tr>
<tr><th>Department</th><td>{% if stockline.department %}<a href="{{stockline.department.get_absolute_url}}">{{stockline.department}}</a>{% else %}Unrestricted{% endif %}</td></tr>
<tr><th>Pull through qty</th><td>{{stockline.pullthru}}</td></tr>
</table>

<p>This is a "regular" stock line.  Regular stock lines can have at
  most one stock item on sale at any one time.  Finishing that stock
  item and putting another item on sale are done explicitly by the
  staff.  They are typically used where units are dispensed directly
  from the stock item to the customer and it's obvious to the member
  of staff when the stock item is empty, for example casks/kegs
  through a pump, bottles of spirits, cards or boxes of snacks, and so
  on.</p>

{% if form %}
<button class="btn btn-secondary mb-2" type="button" data-toggle="modal" data-target="#changeModal">
  Change details
</button>
<button class="btn btn-secondary mb-2" type="button" data-toggle="modal" data-target="#changeLineTypeModal">
  Change line type
</button>
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeModalLabel">Edit stock line</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post">{% csrf_token %}
        <div class="modal-body">
          {% include "form-horizontal.html" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button class="btn btn-danger" type="submit" name="submit_delete" formnovalidate{% if stockline.stockonsale %} disabled{% endif %}>
            Delete stock line
          </button>
          <button class="btn btn-primary" type="submit" name="submit_update">
            Update stock line
          </button>
        </div>
        <datalist id="locations">
          {% for l in locations %}<option value="{{l}}">{% endfor %}
        </datalist>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="changeLineTypeModal" tabindex="-1" aria-labelledby="changeLineTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeLineTypeModalLabel">Change line type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post">{% csrf_token %}
        <div class="modal-body">
          <p>This is currently a regular stock line — a single stock
            item is on sale at once and you must tell the till with the
            Use Stock function when you change to a new item.</p>
          <p>You can choose to change this to a continuous stock line
            — all items of a particular type will be available for use
            and the till will switch from one to the next when the
            first is used up.</p>
          {% if not stockline.stockonsale and not stockline.stocktype %}
          <div class="alert alert-warning">You must either put an item
            on sale or change the stock line to restrict items to a
            particular stock type before you can change this to be a
            continuous stock line.</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button class="btn btn-primary" type="submit" name="submit_conv_continuous"{% if not stockline.stockonsale and not stockline.stocktype %} disabled{% endif %}>
            Change to continuous stock line
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if not stockline.stockonsale %}
<p>There is nothing currently on sale on this stock line.</p>
{% endif %}

{% if stockline.stockonsale %}
<h2>Item on sale</h2>

{% with stocklist=stockline.stockonsale exclude_column="stockline" %}
{% include "tillweb/stocklist.html" %}
{% endwith %}
{% endif %}

{% if stockline.stocktype_log %}
<h2>Stock types</h2>

<p>These types of stock have been on sale on this line:</p>

<ul>
{% for stl in stockline.stocktype_log %}
<li><a href="{{stl.stocktype.get_absolute_url}}">{{stl.stocktype}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% include "tillweb/bindings.html" %}

{% endblock %}
