{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — stock line "{{stockline.name}}"{% endblock %}

{% block heading %}{{till}} — stock line "{{stockline.name}}"{% endblock %}

{% block tillcontent %}

<table class="kvtable mb-2">
<tr><th>Name</th><td>{{stockline.name}}</td></tr>
<tr><th>Location</th><td><a href="{% url "tillweb-location" location=stockline.location %}">{{stockline.location}}</a></td></tr>
<tr><th>Stock type</th><td><a href="{{stockline.stocktype.get_absolute_url}}">{{stockline.stocktype}}</a></td></tr>
<tr><th>Capacity</th><td>{{stockline.capacity}}</td></tr>
</table>

<p>This is a "display" stock line.  Display stock lines can have
  several stock items on sale at once.  Moving from one stock item to
  the next is automatic; when one item is empty the next is used.
  These stock lines have a "capacity", and the system keeps track of
  how many units of each stock item are "on display" and available to
  be sold; the "capacity" is the number of units that can be on
  display at any one time (for example, in a fridge).  Display stock
  lines are typically used where it isn't obvious to the member of
  staff where one stock item finishes and another one starts; for
  example, the bottles on display in a fridge may come from several
  different stock items.</p>

{% if form %}
<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#changeModal">
  Change details
</button>
<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#changeLineTypeModal">
  Change line type
</button>
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeModalLabel">Edit stock line</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">{% csrf_token %}
        <div class="modal-body">
          {% include "form-horizontal.html" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button class="btn btn-danger" type="submit" name="submit_delete" formnovalidate{% if stockline.stockonsale %} disabled{% endif %}>
            Delete stock line
          </button>
          <button class="btn btn-primary" type="submit" name="submit_update">
            Update stock line
          </button>
        </div>
        <datalist id="locations">
          {% for l in locations %}<option value="{{l}}">{% endfor %}
        </datalist>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="changeLineTypeModal" tabindex="-1" aria-labelledby="changeLineTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeLineTypeModalLabel">Change line type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">{% csrf_token %}
        <div class="modal-body">
          <p>This is currently a display stock line — multiple stock
            items of a particular type are on sale, and the till keeps
            track of how many are in storage and how many are on
            display and ready to sell.</p>
          <p>You can choose to change this to a continuous stock line
            — all items of that type will be available for use and the
            till will switch from one to the next when the first is
            used up. The till won't keep track of how many items are
            on display and ready to sell, it will assume that all
            items are ready for sale.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button class="btn btn-primary" type="submit" name="submit_conv_continuous">
            Change to continuous stock line
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if stockline.stockonsale %}
<h2>Items on sale</h2>

{% with stocklist=stockline.stockonsale exclude_column="stockline" %}
{% include "tillweb/stocklist.html" %}
{% endwith %}
{% endif %}

{% include "tillweb/bindings.html" %}

{% endblock %}
