{% extends "tillweb/tillweb.html" %}
{% load tillweb_utils %}

{% block title %}{{till}} — Stock Types{% endblock %}

{% block tillcontent %}

<form class="mb-2" action="" method="post">{% csrf_token %}
  <div class="row mb-3">
    <label for="manufacturerInput" class="col-sm-2 col-form-label">Manufacturer</label>
    <div class="col-sm-10">
      <input type="search" class="form-control" id="manufacturerInput" name="manufacturer">
    </div>
  </div>

  <div class="row mb-3">
    <label for="nameInput" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="search" class="form-control" id="nameInput" name="name">
    </div>
  </div>

  <div class="row mb-3">
    <label for="departmentInput" class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
      <select class="col-sm-10 form-select" id="departmentInput" aria-label="Department" name="department">
	<option value="" selected>Any</option>
	{% for d in departments %}
	<option value="{{d.id}}">{{d.description}}</option>
	{% endfor %}
      </select>
    </div>
  </div>

  <div class="row mb-3 form-check">
    <div class="col-sm-10 offset-sm-2">
      <input class="form-check-input" type="checkbox" value="" id="checkArchived" name="include_archived">
      <label class="form-check-label" for="checkArchived">
	Include archived?
      </label>
    </div>
  </div>

  {% if create_form %}
  <button class="btn btn-secondary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#createModal">
    Add new stock type
  </button>
  {% endif %}

  {% if candidate_stocktakes %}
  {% for st in candidate_stocktakes %}
  <button class="btn btn-secondary mb-2 candidate-stocktake-button" type="submit" name="submit_add_to_{{st.id}}" disabled>
    Add to scope for stock take {{st.id}} ({{st.description}})
  </button>
  {% endfor %}
  <p>N.B. stock types already assigned to a stock take won't be assigned
    to a different one.</p>
  {% endif %}
</form>

{% if create_form %}
{% modal "createModal" dialog_class="modal-lg" title="Add new stock type" %}
<form action="" method="post">{% csrf_token %}
  <datalist id="manufacturers">
    {% for m in manufacturers %}<option value="{{m}}"></option>{% endfor %}
  </datalist>
  <div class="modal-body">
    {% include "form-horizontal.html" with form=create_form %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" name="submit_create">
      Create stock type
    </button>
  </div>
</form>
{% endmodal %}

{% if create_form.errors %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#createModal').modal('show');
  });
</script>
{% endif %}

{% endif %}

<table class="table table-striped table-hover table-sm" id="stocktypelist">
<thead class="table-light">
  <tr>
    <th scope="col">Manufacturer</th>
    <th scope="col">Name</th>
    <th scope="col">ABV</th>
    <th scope="col">Department</th>
    <th scope="col">Unit</th>
    <th scope="col">Sale price</th>
    <th scope="col">Current stock-take</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
      let include_archived = false;
      let manufacturer = null;
      let name = null;
      let department = null;

      function update_candidate_stocktakes() {
	  const valid = (!!manufacturer || !!name || !!department);
	  if (valid) {
	      $(".candidate-stocktake-button").removeAttr('disabled');
	  } else {
	      $(".candidate-stocktake-button").attr('disabled', 'disabled');
	  }
      }

      const stocktype_api = $("#stocktypelist").DataTable({
	  ajax: {
	      url: '{% url "tillweb-datatable-stocktypes" %}',
	      dataSrc: 'data',
	      data: function (d) {
		  if (manufacturer) {
		      d.manufacturer = manufacturer;
		  }
		  if (name) {
		      d.name = name;
		  }
		  if (department) {
		      d.department = department;
		  }
		  d.include_archived = include_archived ? 'yes': 'no';
	      },
	  },
	  columns: [
	      { data: 'manufacturer',
		render: render_link('manufacturer_url', DataTable.render.text()),
	      },
	      { data: 'name',
		render: render_link('stocktype_url', DataTable.render.text()),
	      },
	      { data: 'abv',
		render: render_abv(),
	      },
	      { data: 'department',
		render: render_link('department_url', DataTable.render.text()),
	      },
	      { data: 'unit',
		render: render_link('unit_url', DataTable.render.text()),
	      },
	      { data: 'saleprice',
		render: render_money(),
	      },
	      { data: 'stocktake',
		render: render_link('stocktake_url', DataTable.render.text()),
	      },
	  ],
	  order: [[0, 'asc'], [1, 'asc']],
	  searching: false,
	  paging: true,
	  serverSide: true,
      });
      const reloadDebounce = DataTable.util.debounce(function() {
	  stocktype_api.ajax.reload(null, true);});

      $("#manufacturerInput").on("input", function() {
	  manufacturer = this.value;
	  reloadDebounce();
	  update_candidate_stocktakes();
      });
      $("#nameInput").on("input", function() {
	  name = this.value;
	  reloadDebounce();
	  update_candidate_stocktakes();
      });
      $("#departmentInput").change(function() {
	  department = this.value;
	  stocktype_api.ajax.reload(null, true);
	  update_candidate_stocktakes();
      });
      $("#checkArchived").change(function() {
	  include_archived = this.checked;
	  stocktype_api.ajax.reload(null, true);
      });
  });
</script>
{% endblock %}
