{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — stock line "{{stockline.name}}"{% endblock %}

{% block heading %}{{till}} — stock line "{{stockline.name}}"{% endblock %}

{% block tillcontent %}

<table class="kvtable mb-2">
<tr><th>Name</th><td>{{stockline.name}}</td></tr>
<tr><th>Location</th><td><a href="{% url "tillweb-location" location=stockline.location %}">{{stockline.location}}</a></td></tr>
<tr><th>Stock type</th><td><a href="{{stockline.stocktype.get_absolute_url}}">{{stockline.stocktype}}</a></td></tr>
<tr><th>Amount remaining</th><td>{{stockline.remaining_str}}</td></tr>
</table>

<p>This is a "continuous" stock line.  Continuous stock lines never
  have any stock items explicitly on sale.  Instead, when a sale is
  made the till searches for stock of the specified type that is not
  already on sale on another stock line, and uses that.  If a
  particular stock item doesn't have enough stock left for the whole
  sale, multiple stock items are used.  Continuous stock lines are
  typically used where a single sale (for example of a glass of wine)
  can come from multiple stock items (eg. where a wine bottle
  finishes, and the next bottle is from a different case or even a
  different delivery).</p>

{% if form %}
<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#changeModal">
  Change details
</button>
<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#changeLineTypeModal">
  Change line type
</button>
<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title" id="changeModalLabel">Edit stock line</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">{% csrf_token %}
	<div class="modal-body">
	  {% include "form-horizontal.html" %}
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
	    Cancel
	  </button>
	  <button class="btn btn-danger" type="submit" name="submit_delete" formnovalidate{% if stockline.stockonsale %} disabled{% endif %}>
	    Delete stock line
	  </button>
	  <button class="btn btn-primary" type="submit" name="submit_update">
	    Update stock line
	  </button>
	</div>
	<datalist id="locations">
	  {% for l in locations %}<option value="{{l}}">{% endfor %}
	</datalist>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="changeLineTypeModal" tabindex="-1" aria-labelledby="changeLineTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeLineTypeModalLabel">Change line type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">{% csrf_token %}
        <div class="modal-body">
          <p>This is currently a continuous stock line — all stock
            items of the specified type are available for sale, and
            the till will switch from one to the next when the first
            one is used up.</p>
          <p>You can choose to change this to a regular stock line —
            you will need to tell the till explicitly when a stock
            item is put on sale and when it is finished.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
          <button class="btn btn-primary" type="submit" name="submit_conv_regular">
            Change to regular stock line
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if stockline.stocktype.stockonsale %}
<h2>Items on sale</h2>

<p>(The total amount remaining in these items is
{{stockline.remaining_str}}.)</p>
{% with stocklist=stockline.stocktype.stockonsale exclude_column="stockline" %}
{% include "tillweb/stocklist.html" %}
{% endwith %}
{% endif %}

<div class="mb-2"></div>

{% include "tillweb/bindings.html" %}

{% endblock %}
