{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — stock take {{stocktake.id}} ({{stocktake.description}}){% endblock %}

{% block tillcontent %}

<table class="kvtable mb-2">
  <tr><th scope="row">ID</th><td>{{stocktake.id}}</td></tr>
  <tr><th scope="row">Created by</th><td>{{stocktake.create_user}}</td></tr>
  <tr><th scope="row">Created at</th><td>{{stocktake.create_time}}</td></tr>
  <tr><th scope="row">Description</th><td>{{stocktake.description}}</td></tr>
  <tr><th scope="row">Started at</th><td>{{stocktake.start_time}}</td></tr>
</table>

<form action="" method="post">{% csrf_token %}
<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Stock type/ID</th>
      <th scope="col">Quantity</th>
      <th scope="col" class="text-center">Checked / finished</th>
    </tr>
  </thead>
  {% for st in stocktypes %}
  <tbody>
    {% if st.unit.stocktake_by_items %}
    <tr class="stocktake-stocktype table-primary" id="st{{st.id}}">
      <td colspan="3">{{st.manufacturer}} {{st.name}}{% if st.abv %} ({{st.abv}}%){% endif %} — {{st.department}}</td>
    </tr>
    {% for ss in st.snapshots %}
    <tr class="stocktake-item" id="si{{ss.stockitem.id}}">
      <td class="position-relative">
	<a href="{% url "tillweb-stocktake-stockitem" pubname=pubname stocktake_id=stocktake.id stock_id=ss.stock_id %}" class="stretched-link text-decoration-none">
	  {{ss.stock_id}}{% if ss.stockitem.stockline %} ({{ss.stockitem.stockline}}){% endif %}
	  {% if ss.newbestbefore %}<br>BB {{ss.newbestbefore}}{% endif %}
	  {% if ss.note %}<br>{{ss.note}}{% endif %}
	</a>
      </td>
      <td class="position-relative">
	<a href="{% url "tillweb-stocktake-stockitem" pubname=pubname stocktake_id=stocktake.id stock_id=ss.stock_id %}" class="stretched-link text-decoration-none">
	  {{ss.qty_in_stock_units}}{% if ss.newqty != ss.qty %} ⇨ {{ss.newqty_in_stock_units}}{% endif %}
	  {% if ss.adjustments %}
	  <br>({% for a in ss.adjustments %}{{a.stock_qty}} {{a.removecode|lower}}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
	</a>
      </td>
      <td class="text-center"><input type="checkbox" class="stock-take-checkbox item-checkbox" name="ss{{ss.stock_id}}-checked"{% if ss.checked %} checked{% endif %}>
	<br>
	<select name="ss{{ss.stock_id}}-finishcode" style="width: 100px;" class="item-selectfinish">
	  <option value=""{% if ss.finishcode == None %} selected{% endif %}></option>
	  {% for opt in finishcodes %}
	  <option value="{{opt.id}}"{% if ss.finishcode.id == opt.id %} selected{% endif %}>{{opt}}</option>
	  {% endfor %}
	</select>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="stocktake-stocktype stocktake-item" id="st{{st.id}}">
      <td class="position-relative">
	<a href="{% url "tillweb-stocktake-stocktype" pubname=pubname stocktake_id=stocktake.id stocktype_id=st.id %}" class="stretched-link text-decoration-none">
	  {{st.manufacturer}} {{st.name}}{% if st.abv %} ({{st.abv}}%){% endif %} — {{st.department}}
	</a>
      </td>
      <td class="position-relative">
	<a href="{% url "tillweb-stocktake-stocktype" pubname=pubname stocktake_id=stocktake.id stocktype_id=st.id %}" class="stretched-link text-decoration-none">
	  {{st.snapshot_qty_in_stockunits}}{% if st.snapshot_newqty != st.snapshot_qty %} ⇨ {{st.snapshot_newqty_in_stockunits}}{% endif %}
	  {% if st.adjustments %}
	  <br>({% for code,qty in st.summary_adjustments.items %}{{qty}} {{code|lower}}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
	</a>
      </td>
      <td class="text-center">
	<input type="checkbox" class="stock-take-checkbox item-checkbox" name="st{{st.id}}-checked"{% if st.snapshot_checked %} checked{% endif %}>
	<br>
	<select name="st{{st.id}}-finishcode" class="item-selectfinish" style="width: 100px;">
	  <option value=""{% if st.snapshot_finishcode.id == None %} selected{% endif %}></option>
	  {% for opt in finishcodes %}
	  <option value="{{opt.id}}"{% if st.snapshot_finishcode.id == opt.id %} selected{% endif %}>{{opt}}</option>
	  {% endfor %}
	</select>
      </td>
    </tr>
    {% endif %}
  </tbody>
  {% endfor %}
</table>

{% include "form-horizontal.html" %}

<nav class="navbar navbar-light bg-light justify-content-end">
<button class="btn btn-secondary mb-2" type="submit" name="submit_update">
  Add stock ID
</button>

<button class="btn btn-primary ml-2 mb-2" type="submit" name="submit_finish">
  Finish stock take
</button>

<button class="btn btn-danger ml-2 mb-2" type="submit" name="submit_abandon">
  Abandon stock take
</button>
</div>

</form>
{% comment %} The "stocktake-item" class does not refer to stock
items, it's referring to the type of thing we are stock-taking by —
individual items, or whole stocktypes. The item IDs are prefixed by
"st" or "si" as appropriate. {% endcomment %}
<script>
  $(document).ready(function() {
      $('.item-checkbox').on('click', function(event) {
	  event.preventDefault();
	  event.stopPropagation();
	  const checkbox = event.currentTarget;
	  const itemId = checkbox.closest(".stocktake-item").id;
	  const formdata = new FormData();
	  formdata.append("csrfmiddlewaretoken", "{{csrf_token}}");
	  formdata.append("toggle-item-checked", "");
	  formdata.append("item-id", itemId);
	  checkbox.disabled = true;
	  fetch("", {method: "POST", body: formdata, redirect: "manual"}).then(
	      result => {
		  if (result.ok) {
		      result.json().then(
			  json => {
			      checkbox.disabled = false;
			      if ('checked' in json) {
				  checkbox.checked = json.checked;
			      } else {
				  console.log("Unexpected JSON: ", json);
			      }
			  });
		  } else {
		      checkbox.disabled = false;
		      console.log("Failed request: ", result);
		  }
	      });
      });
      $('.item-selectfinish').on('change', function(event) {
	  const select = event.currentTarget;
	  const item = select.closest(".stocktake-item");
	  const checkbox = item.getElementsByClassName("item-checkbox")[0];
	  const itemId = item.id;
	  const formdata = new FormData();
	  formdata.append("csrfmiddlewaretoken", "{{csrf_token}}");
	  formdata.append("item-finish", "");
	  formdata.append("item-id", itemId);
	  formdata.append("finishcode", select.value);
	  checkbox.disabled = true;
	  select.disabled = true;
	  fetch("", {method: "POST", body: formdata, redirect: "manual"}).then(
	      result => {
		  if (result.ok) {
		      result.json().then(
			  json => {
			      checkbox.disabled = false;
			      select.disabled = false;
			      if ('checked' in json) {
				  checkbox.checked = json.checked;
			      } else {
				  console.log("Unexpected JSON: ", json);
			      }
			  });
		  } else {
		      checkbox.disabled = false;
		      select.disabled = false;
		      console.log("Failed request: ", result);
		  }
	      });
      });
  });
</script>
{% endblock %}
