{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Stock item {{stock.id}}{% endblock %}

{% block tillcontent %}
{% if not stock.delivery.checked %}
<div class="alert alert-warning">
  This stock item is part of an unconfirmed delivery and its details
  may still change.
</div>
{% endif %}
<table class="kvtable">
<tr><th scope="row">Stock ID</th><td>{{stock.id}}</td></tr>
<tr><th scope="row">Check digits</th><td>{{stock.checkdigits}}</td></tr>
<tr><th scope="row">Manufacturer</th><td><a href="{% url "tillweb-stocktype-search" %}?manufacturer={{stock.stocktype.manufacturer|urlencode}}">{{stock.stocktype.manufacturer}}</a></td></tr>
<tr><th scope="row">Name</th><td><a href="{{stock.stocktype.get_absolute_url}}">{{stock.stocktype.name}}</a></td></tr>
<tr><th scope="row">ABV</th><td>{{stock.stocktype.abvstr}}</td></tr>
{% if stock.delivery %}
<tr><th scope="row">Supplier</th><td><a href="{{stock.delivery.supplier.get_absolute_url}}">{{stock.delivery.supplier.name}}</a></td></tr>
<tr><th scope="row">Delivery date</th><td>{{stock.delivery.date}}</td></tr>
<tr><th scope="row">Delivery ID</th><td><a href="{{stock.delivery.get_absolute_url}}">{{stock.delivery.id}}</a>{% if not stock.checked %} <span class="badge badge-warning">Not confirmed</span>{% endif %}</td></tr>
{% else %}
<tr><th scope="row">Discovered in stock take</th><td><a href="{{stock.stocktake.get_absolute_url}}">{{stock.stocktake.id}}</a>{% if not stock.checked %} <span class="badge badge-warning">Not committed</span>{% endif %}</td></tr>
{% endif %}
<tr><th scope="row">Department</th><td><a href="{{stock.stocktype.department.get_absolute_url}}">{{stock.stocktype.department.description}}</a></td></tr>
<tr><th scope="row">Stock unit</th><td>{{stock.description}} ({{stock.size}} {{stock.stocktype.unit.name}}s)</td></tr>
<tr><th scope="row">Cost price</th>
{% if stock.costprice %}
<td>{{money}}{{stock.costprice}} (ex-VAT)</td>
{% else %}<td>Unknown</td>{% endif %}</tr>
<tr><th scope="row">Sale price</th><td>{% if stock.stocktype.saleprice != None %}{{money}}{{stock.stocktype.pricestr}} (inc-VAT){% else %}Not set{% endif %}</td></tr>
{% if stock.onsale %}
<tr><th scope="row">Put on sale</th><td>{{stock.onsale}}
{% if stock.stockonsale %} on line <a href="{{stock.stockonsale.stockline.get_absolute_url}}">{{stock.stockonsale.stockline.name}}</a>
{% endif %}
</td></tr>
{% endif %}
{% if stock.finished %}
<tr><th scope="row">Finished</th><td>{{stock.finished}} ({{stock.finishcode.description}})</td></tr>
{% endif %}
{% if stock.bestbefore %}
<tr><th scope="row">Best before</th><td>{{stock.bestbefore}}</td></tr>
{% endif %}
<tr><th scope="row">Amount used</th><td>{{stock.used}} {{stock.stocktype.unit.name}}s</td></tr>
<tr><th scope="row">Amount remaining</th><td>{{stock.remaining}} {{stock.stocktype.unit.name}}s</td></tr>
{% if stock.annotations %}
<tr><th scope="row">Notes</th><td>
{% with annotationlist=stock.annotations excluded_column="stock" %}
{% include "tillweb/annotationlist.html" %}
{% endwith %}
</td></tr>{% endif %}
</table>

<div class="row">
{% if aform %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle mr-2 mb-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add annotation</button>
  <div class="dropdown-menu" style="width: 600px;">
    <form class="px-4 py-3" id="annotationForm" action="" method="post">{% csrf_token %}
      {% include "form.html" with form=aform %}
      <button class="btn btn-primary" type="submit" name="submit_annotate">
	Add annotation
      </button>
    </form>
  </div>
</div>
{% endif %}

{% if wform %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle mb-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Record waste</button>
  <div class="dropdown-menu" style="width: 600px;">
    <form class="px-4 py-3" action="" method="post">{% csrf_token %}
      {% include "form.html" with form=wform %}
      <button class="btn btn-primary" type="submit" name="submit_waste">
	Record waste
      </button>
    </form>
  </div>
</div>
{% endif %}
</div>

{% if stock.out %}
<h2>Usage summary</h2>
<table class="kvtable">
{% for rc,qty in stock.removed %}
<tr><th scope="row">{{rc.reason}}</th><td>{{qty}} {{stock.stocktype.unit.name}}s</td></tr>
{% endfor %}
</table>

<h2>Quantities used</h2>

<table class="table table-striped table-hover table-sm w-auto" id="stockout">
<thead class="thead-light">
  <tr>
    <th scope="col">Time</th>
    <th scope="col">Description</th>
    <th scope="col">Quantity</th>
  </tr>
</thead>
<tbody>
{% for so in stock.out %}
<tr>
<td>{{so.time|date:dtf}}</td>
<td>
  {% if so.transline %}
  <a href="{{so.transline.transaction.get_absolute_url}}">Sold for {{money}}{{so.transline.total}} in transaction {{so.transline.transaction.id}}</a>
  {% elif so.stocktake %}
  <a href="{{so.stocktake.get_absolute_url}}">{{so.removecode.reason}} in stock take {{so.stocktake.id}}</a>
  {% else %}
  {{so.removecode.reason}}
  {% endif %}
</td>
<td>{{so.qty}} {{stock.stocktype.unit.name}}s</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr><th scope="row" colspan="2" style="text-align: right;">Total:</th>
<td>{{stock.used}} {{stock.stocktype.unit.name}}s</td></tr>
</tfoot>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#stockout").tablesorter();
});
</script>
{% endif %}

{% if stock.snapshots %}
<h2>Stock take history</h2>

<ul>
  {% for ss in stock.snapshots %}{% if ss.stocktake.commit_time %}
  <li><a href="{{ss.stocktake.get_absolute_url}}">{{ss.stocktake.commit_time}}</a>: {{ss.qty}} ⇨ {{ss.newqty}}{% if ss.finishcode %} (finished: {{ss.finishcode}}){% endif %}{% if ss.bestbefore != ss.newbestbefore %} [BB {{ss.bestbefore}} ⇨ {{ss.newbestbefore}}]{% endif %}</li>
  {% endif %}{% endfor %}
</ul>
{% endif %}

{% if stock.logs %}
<h2>Log entries</h2>
{% with logs=stock.logs %}
{% include "tillweb/loglist.html" %}
{% endwith %}
{% endif %}

{% if stock.stocktype.stockline_log %}
<h2>Associated stocklines</h2>
<ul>
{% for sl in stock.stocktype.stockline_log %}
<li><a href="{{sl.stockline.get_absolute_url}}">{{sl.stockline.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
