{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — adjust {{ss.stockitem.id}} in stocktake {{ss.stocktake.id}} ({{ss.stocktake.description}}){% endblock %}

{% block tillcontent %}

{% with dtc="col-4 col-sm-2 text-sm-end" ddc="col-8 col-sm-10" %}
<dl class="row lh-1">
  <dt class="{{dtc}}">Stock ID</dt>
  <dd class="{{ddc}}">{{ss.stockitem.id}}</dd>

  <dt class="{{dtc}}">Stock type</dt>
  <dd class="{{ddc}}">{{ss.stockitem.stocktype.format}}</dd>

  <dt class="{{dtc}}">On sale?</dt>
  <dd class="{{ddc}}">{% if ss.stockitem.stockline %}On <a href="{{ss.stockitem.stockline.get_absolute_url}}">{{ss.stockitem.stockline}}</a>{% else %}No{% endif %}</dd>

  {% if ss.bestbefore or ss.newbestbefore %}
  <dt class="{{dtc}}">Best before</dt>
  <dd class="{{ddc}}">{{ss.bestbefore}}{% if ss.bestbefore != ss.newbestbefore %} ⇒ {{ss.newbestbefore}}{% endif %}</dd>
  {% endif %}

  <dt class="{{dtc}}">Qty in stock</dt>
  <dd class="{{ddc}} lh-sm">
    {{ss.qty_in_stock_units}}{% if ss.adjustments %} (original)<br>
    {% for a in ss.adjustments %}
    {{a.adjustment_qty}} {{a.removecode|lower}}<br>
    {% endfor %}
    ⇨ <strong>{{ss.newqty_in_stock_units}}</strong> (adjusted)
    {% endif %}
  </dd>
</dl>
{% endwith %}

<form action="" method="post">{% csrf_token %}

{% include "form-horizontal.html" %}

<button class="btn btn-primary mb-2" type="submit" name="submit_adjust">
  Update / adjust
</button>
<br>
<button class="btn btn-secondary mb-2" type="submit" name="submit_reset">
  Remove adjustments
</button>

</form>
{% endblock %}
