{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — stock take {{stocktake.id}} ({{stocktake.description}}){% endblock %}

{% block tillcontent %}

<table class="kvtable mb-2">
  <tr><th scope="row">ID</th><td>{{stocktake.id}}</td></tr>
  <tr><th scope="row">Created by</th><td>{{stocktake.create_user}}</td></tr>
  <tr><th scope="row">Created at</th><td>{{stocktake.create_time}}</td></tr>
  <tr><th scope="row">Description</th><td>{{stocktake.description}}</td></tr>
  <tr><th scope="row">Started at</th><td>{{stocktake.start_time}}</td></tr>
  <tr><th scope="row">Committed at</th><td>{{stocktake.commit_time}}</td></tr>
  <tr><th scope="row">Committed by</th><td>{{stocktake.commit_user}}</td></tr>
</table>

{% if more_details_available %}
<button type="button" data-toggle="collapse" class="btn btn-secondary mb-2" data-target=".st-detail-hidden">
  Show stock item details
</button>
{% endif %}

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Stock type</th>
      <th scope="col">Stock ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Finish?</th>
    </tr>
  </thead>
  {% for st in stocktypes %}
  <tbody>
    <tr class="stocktake-stocktype table-primary">
      <td colspan={% if st.unit.stocktake_by_items %}"4"{% else %}"2"{% endif %}><a href="{{st.get_absolute_url}}">{{st.manufacturer}} {{st.name}}{% if st.abv %} ({{st.abv}}%){% endif %}</a> — <a href="{{st.department.get_absolute_url}}">{{st.department}}</a></td>
      {% if not st.unit.stocktake_by_items %}
      <td>
	{{st.snapshot_qty_in_stockunits}}{% if st.snapshot_newqty != st.snapshot_qty %} ⇨ {{st.snapshot_newqty_in_stockunits}}{% endif %}
        {% if st.adjustments %}
	<br>({% for code, qty in st.summary_adjustments.items %}{{qty}} {{code|lower}}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
      </td>
      <td>
	{% if st.snapshot_finishcode %}{{st.snapshot_finishcode}}{% endif %}
      </td>
      {% endif %}
    </tr>
  </tbody>
  <tbody class="st-{{st.id}}-details{% if not st.unit.stocktake_by_items %} st-detail-hidden collapse{% endif %}">
    {% for ss in st.snapshots %}
    <tr class="stocktake-item">
      <td>{% if ss.newbestbefore != ss.bestbefore %}BB {% if ss.bestbefore %}{{ss.bestbefore}} ⇒ {% endif %}{{ss.newbestbefore}}{% if ss.note %}<br>{% endif %}{% endif %} {{ ss.note }}</td>
      <td><a href="{{ss.stockitem.get_absolute_url}}">{{ss.stock_id}}</a></td>
      <td>{{ss.qty_in_stock_units}}{% if ss.newqty != ss.qty %} ⇨ {{ss.newqty_in_stock_units}}{% endif %}
	{% if ss.adjustments %}
	<br>({% for a in ss.adjustments %}{{a.stock_qty}} {{a.removecode|lower}}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
      </td>
      <td>{% if ss.finishcode %}{{ss.finishcode}}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
    {% endfor %}
</table>

{% endblock %}
