{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — {{stocktype.fullname}}{% endblock %}

{% block heading %}{{till}} — {{stocktype.fullname}}{% endblock %}

{% block tillcontent %}

<div class="row mb-2">
  <div class="col-8">
    {% if stocktype.archived %}
    <div class="alert alert-danger">
      This stock type has been archived. It is no longer available to
      use for new stock items.{% if stocktype.note %} See the note for
      an explanation.{% endif %}
    </div>
    {% endif %}
    <table class="kvtable mb-2">
      <tbody>
	<tr>
	  <th scope="row">Manufacturer</th>
	  <td><a href="{% url "tillweb-stocktype-search" %}?manufacturer={{stocktype.manufacturer|urlencode}}">{{stocktype.manufacturer}}</a></td>
	</tr>
	<tr>
	  <th scope="row">Name</th>
	  <td>{{stocktype.name}}</td>
	</tr>
	{% if stocktype.abv is not None %}
	<tr>
	  <th scope="row">ABV</th>
	  <td>{{stocktype.abv}}%</td>
	</tr>
	{% endif %}
	<tr>
	  <th scope="row">Department</th>
	  <td><a href="{{stocktype.department.get_absolute_url}}">{{stocktype.department}}</a></td>
	</tr>
	<tr>
	  <th scope="row">Unit</th>
	  <td><a href="{{stocktype.unit.get_absolute_url}}">{{stocktype.unit.description}}</a></td>
	</tr>
	<tr>
	  <th scope="row">Sale price</th>
	  <td>{% if stocktype.saleprice != None %}{{money}}{{stocktype.saleprice}} (inc-VAT){% else %}Not set{% endif %}</td>
	</tr>
	<tr>
	  <th scope="row">Stock take method</th>
	  <td>{% if stocktype.unit.stocktake_by_items %}Separate items{% else %}Total quantity{% endif %} (from Unit)</td>
	</tr>
	<tr>
	  <th scope="row">Note</th>
	  <td>{{stocktype.note}}</td>
	</tr>
    </table>

    {% if tasting_notes %}
    <p>{{tasting_notes}}</p>
    {% endif %}

    {% if alter_form %}
    <button class="btn btn-secondary me-2 mb-2" type="button" data-bs-toggle="modal" data-bs-target="#alterModal">Edit or fix mistakes</button>
    {% endif %}
    {% if reprice_form %}
    <button class="btn btn-secondary me-2 mb-2" type="button" data-bs-toggle="modal" data-bs-target="#repriceModal">Re-price stock</button>
    {% endif %}
    {% if may_delete %}
    <form action="" method="post">{% csrf_token %}
      <button class="btn btn-danger me-2 mb-2" name="submit_delete">
	Delete this stock type
      </button>
    </form>
    {% endif %}
    {% if archive_form %}
    <button class="btn btn-{% if stocktype.archived %}secondary{% else %}danger{% endif %} me-2 mb-2" type="button" data-bs-toggle="modal" data-bs-target="#archiveModal">{% if stocktype.archived %}Restore{% else %}Archive{% endif %} stock type</button>
    {% endif %}
  </div>
  <div class="col-4 d-none d-lg-block">
    {% if has_logo %}
    <img src="{% url "tillweb-stocktype-logo" stocktype_id=stocktype.id %}" alt="" class="img-fluid">
    {% endif %}
  </div>
</div>

{% if alter_form %}
<div class="modal fade" id="alterModal" tabindex="-1" aria-labelledby="alterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title" id="alterModalLabel">Edit stock type</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="modal-body">
	  <div class="container-fluid">
	    {% include "form-horizontal.html" with form=alter_form %}
	    <p><strong>N.B.</strong> If you change the Department of this
	      stock type, only future sales of stock will be counted under
	      the new department.  Past sales will remain in the previous
	      department.  Consider creating a new stock type instead.</p>
	    <p>Changes to this stock type affect all items of stock of this
	      type, including those that have already been finished. If you
	      have received new stock with different details (eg. different
	      ABV) you should create a new stock type instead.</p>
	  </div>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
	    Cancel
	  </button>
	  <button class="btn btn-primary" type="submit" name="submit_alter">
	    Alter stocktype
	  </button>
	</div>
      </form>
    </div>
  </div>
</div>
{% if alter_form.errors %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#dropdown-alter-form').modal('show');
  });
</script>
{% endif %}
{% endif %}

{% if reprice_form %}
<div class="modal fade" id="repriceModal" tabindex="-1" aria-labelledby="repriceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title" id="repriceModalLabel">Re-price stock</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">{% csrf_token %}
	<div class="modal-body">
	  <div class="container-fluid">
	    {% include "form.html" with form=reprice_form %}
	  </div>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
	    Cancel
	  </button>
	  <button class="btn btn-primary" type="submit" name="submit_reprice">
	    Set new sale price
	  </button>
	</div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% if reprice_form.errors %}
<script type="text/javascript">
  $(document).ready(function() {
      $('#dropdown-reprice-form').dropdown('show');
  });
</script>
{% endif %}

{% if archive_form %}
<div class="modal fade" id="archiveModal" tabindex="-1" aria-labelledby="archiveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title" id="archiveModalLabel">{% if stocktype.archived %}Restore{% else %}Archive{% endif %} stock type</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">{% csrf_token %}
	<div class="modal-body">
	  {% if stocktype.archived %}
	  <p>When you restore a stock type, it is available again for
	    new stock items to be created. If the note is no longer
	    relevant, please remove or alter it.</p>
	  {% else %}
	  <p>When you archive a stock type, it is no longer available
	    for new stock items to be created. It won't show up in the
	    list of stock types when you are entering new stock, and
	    it will only be shown when you search for stock types if
	    you select the "Include archived?" option.</p>
	  <p>Existing stock of this type is unaffected and can still
	    be sold.</p>
	  <p>Please explain in the note why you are archiving this
	    stock type. This note will be shown to anyone who tries to
	    use it. If there is an alternative stock type that should
	    be used instead, please mention it.</p>  {% endif %}
	  <div class="container-fluid">
	    {% include "form.html" with form=archive_form %}
	  </div>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
	    Cancel
	  </button>
	  {% if stocktype.archived %}
	  <button class="btn btn-primary" type="submit" name="submit_restore">
	    Restore stock type
	  </button>
	  {% else %}
	  <button class="btn btn-danger" type="submit" name="submit_archive">
	    Archive stock type
	  </button>
	  {% endif %}
	</div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if stocktype.stocktake %}
<p>This stock type is currently in scope
for <a href="{{stocktype.stocktake.get_absolute_url}}">stock take
    {{stocktype.stocktake.id}} ({{stocktype.stocktake.description}})</a>.</p>
{% endif %}

<h2>Stock of this type</h2>
{% if items %}
{% with items as stocklist %}
{% include "tillweb/stocklist.html" %}
{% endwith %}
{% else %}
<p>There are no stock items of this type.</p>
{% endif %}

{% if not include_finished %}
<p><a href="?show_finished=on">Include finished items</a></p>
{% endif %}

{% if stocktype.logs %}
<h2>Log entries</h2>
{% with logs=stocktype.logs %}{% include "tillweb/loglist.html" %}{% endwith %}
{% endif %}

{% include "tillweb/bindings.html" %}

{% endblock %}
