{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Suppliers{% endblock %}

{% block tillcontent %}

{% if may_create_supplier %}
<a class="btn btn-primary mb-2" href="{% url "tillweb-create-supplier" %}">Add new supplier</a>
{% endif %}

<table class="table table-sm table-striped" id="suppliers">
<thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Telephone</th>
    <th scope="col">Email</th>
    <th scope="col">Web</th>
    <th scope="col">Accounts</th>
  </tr>
</thead>
<tbody>
{% for s in suppliers %}
<tr>
<td><a href="{{s.get_absolute_url}}">{{s.name}}</a></td>
<td>{{s.tel}}</td>
<td>{% if s.email %}<a href="mailto:{{s.email|urlencode}}">{{s.email}}</a>{% endif %}</td>
<td>{% if s.web %}{{s.web}}{% endif %}</td>
<td>{% if s.accounts_url %}<a class="btn btn-secondary" href="{{s.accounts_url}}">View in accounts</a>{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#suppliers").DataTable();
});
</script>

{% endblock %}
