{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — supplier {{supplier.name}}{% endblock %}

{% block heading %}{{till}} — supplier {{supplier.name}}{% endblock %}

{% block tillcontent %}

<table class="kvtable">
<tr><th>Name</th><td>{{supplier.name}}</td></tr>
<tr><th>Telephone</th><td>{{supplier.tel}}</td></tr>
<tr><th>Email</th><td>{{supplier.email}}</td></tr>
</table>

<h2>Deliveries</h2>

{% with deliveries=supplier.deliveries exclude_column="supplier" %}
{% if deliveries %}
{% include "tillweb/deliverylist.html" %}
{% else %}
<p>There have not been any deliveries from this supplier.</p>
{% endif %}
{% endwith %}

{% endblock %}
