{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Suppliers{% endblock %}

{% block tillcontent %}

<div class="table-responsive">
<table class="table table-striped table-hover table-sm" id="suppliers">
<thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Telephone</th>
    <th scope="col">Email</th>
    <th scope="col">Web</th>
  </tr>
</thead>
<tbody>
{% for s in suppliers %}
<tr>
<td><a href="{{s.get_absolute_url}}">{{s.name}}</a></td>
<td>{{s.tel}}</td>
<td>{% if s.email %}<a href="mailto:{{s.email|urlencode}}">{{s.email}}</a>{% endif %}</td>
<td>{% if s.web %}<a href="{{s.web}}">{{s.web}}</a>{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#suppliers").tablesorter();
});
</script>

{% endblock %}
