{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
{{block.super}}
<link rel="STYLESHEET" type="text/css" href="{% static "tillweb/jquery-ui.css" %}" />
<link rel="STYLESHEET" type="text/css" href="{% static "tillweb/tillweb.css" %}" />
{% endblock %}
{% block scripts %}
{% endblock %}
{% block jquery %}
<script type="text/javascript" src="{% static "tillweb/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "tillweb/jquery.tablesorter.js" %}"></script>
<script type="text/javascript" src="{% static "tillweb/jquery-ui.js" %}"></script>
{% endblock %}

{% block content %}
<div class="tillcontent">
{% include "tillweb/versioncheck.html" %}
{% block tillcontent %}
<p>Till content here</p>
{% endblock %}
</div>

<div class="tillnav">
<ul>
<li><a href="{% url "tillweb-pubroot" pubname=pubname %}">Main Menu</a></li>
<li><a href="{% url "tillweb-sessions" pubname=pubname %}">Sessions</a></li>
<li><a href="{% url "tillweb-departments" pubname=pubname %}">Departments</a></li>
<li><a href="{% url "tillweb-stocksearch" pubname=pubname %}">Stock</a>
<li><a href="{% url "tillweb-stocktype-search" pubname=pubname %}">Stock types</a></li>
<li><a href="{% url "tillweb-stocklines" pubname=pubname %}">Stock lines</a></li>
<li><a href="{% url "tillweb-locations" pubname=pubname %}">Locations</a></li>
<li><a href="{% url "tillweb-plus" pubname=pubname %}">Price lookups</a></li>
<li><a href="{% url "tillweb-deliveries" pubname=pubname %}">Deliveries</a></li>
<li><a href="{% url "tillweb-suppliers" pubname=pubname %}">Suppliers</a></li>
<li><a href="{% url "tillweb-stockcheck" pubname=pubname %}">Buying list</a></li>
<li><a href="{% url "tillweb-till-users" pubname=pubname %}">Users</a></li>
<li><a href="{% url "tillweb-reports" pubname=pubname %}">Reports</a></li>
</ul>
</div>

{% endblock %}
