{% extends "base.html" %}
{% load url from future %}

{% block scripts %}
<script type="text/javascript" src="{{STATIC_URL}}tillweb/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}tillweb/jquery.tablesorter.js"></script>
{% endblock %}

{% block content %}

<div class="tillcontent">
{% block tillcontent %}
<p>Till content here</p>
{% endblock %}
</div>

<div class="tillnav">
<ul>
<li><a href="{{u}}">Main Menu</a></li>
<li><a href="{{u}}session/">Sessions</a></li>
<li><a href="{{u}}stock/">Stock</a>
<ul>
{% for d in depts %}
<li><a href="{{u}}{{d.tillweb_url}}">{{d.description}}</a></li>
{% endfor %}
</ul></li>
<li><a href="{{u}}stocktype/">Stock types</a></li>
<li><a href="{{u}}stockline/">Stock lines</a></li>
<li><a href="{{u}}delivery/">Deliveries</a></li>
<li><a href="{{u}}supplier/">Suppliers</a></li>
<li><a href="{{u}}user/">Users</a></li>
</ul>
</div>

{% endblock %}
