{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — deferred transactions{% endblock %}

{% block tillcontent %}

{% if transactions %}
<table class="table table-striped table-hover table-sm w-auto" id="transactions-table">
<thead class="thead-light">
  <tr>
    <th scope="col">Transaction</th>
    <th scope="col">Amount</th>
    <th scope="col">Note</th>
  </tr>
</thead>
<tbody>
{% for t in transactions %}
<tr>
<td><a href="{{t.get_absolute_url}}">{{t.id}}</a></td>
<td class="money">{{money}}{{t.total}}</td>
<td>{% if t.notes %}{{t.notes}}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

<script type="text/javascript">
$(document).ready(function(){
  $("#transactions-table").tablesorter();
});
</script>
{% else %}
<p>There are no deferred transactions at the moment.</p>
{% endif %}

{% endblock %}
