{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — transaction {{transaction.id}}{% endblock %}

{% block heading %}{{till}} — transaction {{transaction.id}}{% endblock %}

{% block tillcontent %}

{% if form %}
<form action="" method="post">{% csrf_token %}
{% endif %}
<table class="kvtable">
<tr><th>ID</th><td>{{transaction.id}}</td></tr>
{% if transaction.session %}
<tr><th>Session</th><td><a href="{{transaction.session.get_absolute_url}}">{{transaction.session.id}}</a></td></tr>
<tr><th>Date</th><td>{{transaction.session.date}}</td></tr>
<tr><th>Closed?</th><td>{{transaction.closed|yesno:"Yes,No"}}</td></tr>
{% endif %}
<tr><th>Notes</th>
  {% if form %}
  <td>{% include "form-field.html" with field=form.notes %}</td>
  {% else %}
  <td>{{transaction.notes}}</td>
  {% endif %}
</tr>
<tr><th>Discount amount</th><td>{{money}}{{transaction.discount_total}}</td></tr>
<tr><th>Total</th><td>{{money}}{{transaction.total}}</td></tr>
</table>
{% if form %}
<button class="btn btn-primary" type="submit" name="submit_update">
  Update notes
</button>
</form>
{% endif %}

{% if not transaction.session %}
<p><strong>This transaction has been deferred to the next session.</strong></p>
{% endif %}

<h2>Lines</h2>

{% with translines=transaction.lines exclude_column="transaction" %}
{% include "tillweb/translinelist.html" %}
{% endwith %}

{% if transaction.payments %}
<h2>Payments</h2>
{% with payments=transaction.payments excluded_column="transaction" %}
{% include "tillweb/paymentlist.html" %}
{% endwith %}
{% else %}
<p>There are no payments towards this transaction.</p>
{% endif %}

{% endblock %}
