{% if translines %}
<table id="translines">
<thead>
<tr>
{% if exclude_column != "transaction" %}<th>Transaction</th>{% endif %}
<th>ID</th><th>Description</th><th>Code</th>
<th class="sorter-false">Value</th><th>Time</th>
{% if exclude_column != "user" %}<th>User</th>{% endif %}
</tr>
</thead>
<tbody>
{% for tl in translines %}
<tr class="{% cycle 'odd' 'even' %}">
{% if exclude_column != "transaction" %}
<td><a href="{{u}}{{tl.transaction.tillweb_url}}">{{tl.transaction.id}}</a></td>
{% endif %}
<td><a href="{{u}}{{tl.tillweb_url}}">{{tl.id}}</a></td>
<td><a href="{{u}}{{tl.tillweb_url}}">{{tl.description}}</a>{% if exclude_column != "department" %} ({{tl.department}})</td>
{% endif %}
<td>{{tl.transcode}}</td>
<td>{% if tl.items and tl.amount %}{{tl.items}} @ <span class="money">{{tl.amount}}</span> = <span class="money">{{tl.total}}</span>{% endif %}</td>
<td>{{tl.time|date:dtf}}</td>
{% if exclude_column != "user" %}
<td>{% if tl.user %}<a href="{{u}}{{tl.user.tillweb_url}}">{{tl.user.fullname}}</a>{% endif %}</td>{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#translines").tablesorter({widgets:["zebra"]});
});
</script>
{% endif %}
