{% if translines %}
<table id="translines">
<thead>
<tr>
{% if exclude_column != "transaction" %}<th>Transaction</th>{% endif %}
<th>ID</th>
<th>Description</th>
{% if exclude_column != "department" %}<th>Department</th>{% endif %}
<th>Code</th>
<th class="sorter-false">Value</th><th>Time</th>
{% if exclude_column != "user" %}<th>User</th>{% endif %}
</tr>
</thead>
<tbody>
{% for tl in translines %}
<tr class="{% cycle 'odd' 'even' %}">
{% if exclude_column != "transaction" %}
<td><a href="{{tl.transaction.get_absolute_url}}">{{tl.transaction.id}}</a></td>
{% endif %}
<td><a href="{{tl.get_absolute_url}}">{{tl.id}}</a></td>
<td><a href="{{tl.get_absolute_url}}">{{tl.description}}</a></td>
{% if exclude_column != "department" %}<td>{{tl.department}}</td>{% endif %}
<td>{{tl.transcode}}{% if tl.voided_by_id %} <a href="{{tl.voided_by.get_absolute_url}}">(voided)</a>{% endif %}</td>
<td>{% if tl.items and tl.amount %}{{tl.items}} @ <span class="money">{{tl.amount}}</span> = <span class="money">{{tl.total}}</span>{% endif %}</td>
<td>{{tl.time|date:dtf}}</td>
{% if exclude_column != "user" %}
<td>{% if tl.user %}<a href="{{tl.user.get_absolute_url}}">{{tl.user.fullname}}</a>{% endif %}</td>{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#translines").tablesorter({widgets:["zebra"]});
});
</script>
{% endif %}
