{% if translines %}
<div class="table-responsive mb-2">
<table class="table table-striped table-hover table-sm" id="translines">
<thead class="thead-light">
<tr>
{% if exclude_column != "transaction" %}<th scope="col">Transaction</th>{% endif %}
<th scope="col">ID</th>
<th scope="col">Description</th>
{% if exclude_column != "department" %}<th scope="col">Department</th>{% endif %}
<th scope="col">Code</th>
<th scope="col" class="sorter-false">Value</th>
<th scope="col" class="sorter-false">Discount</th>
<th scope="col">Time</th>
<th scope="col">Source</th>
{% if exclude_column != "user" %}<th scope="col">User</th>{% endif %}
</tr>
</thead>
<tbody>
{% for tl in translines %}
<tr>
{% if exclude_column != "transaction" %}
<td><a href="{{tl.transaction.get_absolute_url}}">{{tl.transaction.id}}</a></td>
{% endif %}
<td><a href="{{tl.get_absolute_url}}">{{tl.id}}</a></td>
<td><a href="{{tl.get_absolute_url}}">{{tl.description}}</a></td>
{% if exclude_column != "department" %}<td>{{tl.department}}</td>{% endif %}
<td>{{tl.transcode}}{% if tl.voided_by_id %} <a href="{{tl.voided_by.get_absolute_url}}">(voided)</a>{% endif %}</td>
<td>{% if tl.amount or tl.discount %}{{tl.items}} @ {{money}}{{tl.amount}} = {{money}}{{tl.total}}</span>{% endif %}</td>
<td>{% if tl.discount %}{{money}}{{tl.total_discount}} ({{tl.discount_name}}){% endif %}</td>
<td>{{tl.time|date:dtf}}</td>
<td>{{tl.source}}</td>
{% if exclude_column != "user" %}
<td>{% if tl.user %}<a href="{{tl.user.get_absolute_url}}">{{tl.user.fullname}}</a>{% endif %}</td>{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#translines").tablesorter();
});
</script>
{% endif %}
