{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Units{% endblock %}

{% block tillcontent %}

<p>This table defines the units in which the system counts the amount
  of stock held.  Each
  <a href="{% url "tillweb-stocktype-search" pubname=pubname %}">stock type</a>
  specifies which of these units will be used for that type of stock.</p>

{% include "tillweb/unit-info.html" %}

<table class="table table-striped table-hover" id="unitlist">
<thead class="thead-light">
  <tr>
    <th scope="col">Description</th>
    <th scope="col">Base unit</th>
    <th scope="col">Base units per sale unit</th>
    <th scope="col">Sale unit name</th>
    <th scope="col">Sale unit name plural</th>
    <th scope="col">Base units per stock unit</th>
    <th scope="col">Stock unit name</th>
    <th scope="col">Stock unit name plural</th>
  </tr>
</thead>
<tbody>
{% for u in units %}
<tr>
<td><a href="{{u.get_absolute_url}}">{{u.description}}</a></td>
<td>{{u.name}}</td>
<td>{{u.base_units_per_sale_unit}}</td>
<td>{{u.sale_unit_name}}</td>
<td>{{u.sale_unit_name_plural}}</td>
<td>{{u.base_units_per_stock_unit}}</td>
<td>{{u.stock_unit_name}}</td>
<td>{{u.stock_unit_name_plural}}</td>
</tr>
{% endfor %}
</tbody>
</table>

<script type="text/javascript">
$(document).ready(function(){
  $("#unitlist").tablesorter();
});
</script>

{% if may_create_unit %}
<a class="btn btn-primary mb-2" href="{% url "tillweb-create-unit" pubname=pubname %}">Add new unit</a>
{% endif %}

{% endblock %}
