{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — unit "{{unit.description}}"{% endblock %}

{% block tillcontent %}

{% include "tillweb/unit-info.html" %}

{% if form %}
<form action="" method="post">{% csrf_token %}
  {% include "form-horizontal.html" %}
  <button class="btn btn-primary mb-2" type="submit" name="submit_update">
    Update
  </button>
  <button class="btn btn-danger mb-2" type="submit" name="submit_delete"{% if not can_delete %} disabled{% endif %}>
    Delete
  </button>
</form>
{% if not can_delete %}
<p>Note: it is <strong>strongly</strong> recommended that you do not
  change the meaning of the base unit.  The quantities of this unit
  stored for existing stock <strong>will not</strong> change to match!</p>

<p>If you change the number of base units per item, note that
  prices <strong>will not</strong> change to match.</p>
{% endif %}
{% else %}
<table class="kvtable">
<tr><th>Description</th><td>{{unit.description}}</td></tr>
<tr><th>Base unit</th><td>{{unit.name}}</td></tr>
<tr><th>Base units per sale unit</th><td>{{unit.base_units_per_sale_unit}}</td></tr>
<tr><th>Sale unit name</th><td>{{unit.sale_unit_name}}</td></tr>
<tr><th>Sale unit name plural</th><td>{{unit.sale_unit_name_plural}}</td></tr>
<tr><th>Base units per stock unit</th><td>{{unit.base_units_per_stock_unit}}</td></tr>
<tr><th>Stock unit name</th><td>{{unit.stock_unit_name}}</td></tr>
<tr><th>Stock unit name plural</th><td>{{unit.stock_unit_name_plural}}</td></tr>
</table>
{% endif %}

{% if unit.stockunits %}
<h2>Item sizes</h2>

{% if form %}
<p>It is not possible to delete this unit because the following item sizes refer to it:</p>
{% else %}
<p>The following item sizes refer to this unit:</p>
{% endif %}
<ul>
  {% for su in unit.stockunits %}
  <li><a href="{{su.get_absolute_url}}">{{su.name}} ({{su.size}} {{unit.name}})</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if unit.stocktypes %}
<h2>Stock types</h2>

{% if form %}
<p>It is not possible to delete this unit because the following stock types refer to it:</p>
{% else %}
<p>The following stock types refer to this unit:</p>
{% endif %}

<table class="table table-striped table-hover table-sm w-auto" id="stocktypelist">
<thead class="thead-light">
  <tr>
    <th scope="col">Manufacturer</th>
    <th scope="col">Name</th>
    <th scope="col">ABV</th>
    <th scope="col">Department</th>
    <th scope="col">Sale price</th>
  </tr>
</thead>
<tbody>
{% for t in unit.stocktypes %}
<tr>
<td><a href="?manufacturer={{t.manufacturer|urlencode}}">{{t.manufacturer}}</a></td>
<td><a href="{{t.get_absolute_url}}">{{t.name}}</a></td>
<td>{{t.abvstr}}</td>
<td><a href="{{t.department.get_absolute_url}}">{{t.department}}</a></td>
{% if t.saleprice %}<td class="money">{{money}}{{t.pricestr}}</td>
{% else %}<td></td>{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#stocktypelist").tablesorter();
});
</script>

{% endif %}

{% endblock %}
