{% extends "tillweb/tillweb.html" %}
{% load tillweb_utils %}

{% block title %}{{till}} — unit "{{unit.description}}"{% endblock %}

{% block tillcontent %}

{% include "tillweb/unit-info.html" %}

{% with dtc="col-6 col-sm-2 text-sm-end" ddc="col-6 col-sm-10" %}
<dl class="row">
  <dt class="{{dtc}}">Description</dt>
  <dd class="{{ddc}}">{{unit.description}}</dd>

  <dt class="{{dtc}}">Base unit</dt>
  <dd class="{{ddc}}">{{unit.name}}</dd>

  <dt class="{{dtc}}">Base units per sale unit</dt>
  <dd class="{{ddc}}">{{unit.base_units_per_sale_unit}}</dd>

  <dt class="{{dtc}}">Sale unit name</dt>
  <dd class="{{ddc}}">{{unit.sale_unit_name}}</dd>

  <dt class="{{dtc}}">Sale unit name plural</dt>
  <dd class="{{ddc}}">{{unit.sale_unit_name_plural}}</dd>

  <dt class="{{dtc}}">Base units per stock unit</dt>
  <dd class="{{ddc}}">{{unit.base_units_per_stock_unit}}</dd>

  <dt class="{{dtc}}">Stock unit name</dt>
  <dd class="{{ddc}}">{{unit.stock_unit_name}}</dd>

  <dt class="{{dtc}}">Stock unit name plural</dt>
  <dd class="{{ddc}}">{{unit.stock_unit_name_plural}}</dd>

  <dt class="{{dtc}}">Stock take method</dt>
  <dd class="{{ddc}}">{{unit.stocktake_method}}</dd>
</dl>
{% endwith %}

{% if form %}
<button class="btn btn-secondary mb-2" type="button" data-bs-toggle="modal" data-bs-target="#changeModal">
  Alter details
</button>

{% modal "changeModal" dialog_class="modal-lg modal-dialog-scrollable" title="Alter details" %}
<form action="" method="post">{% csrf_token %}
  <div class="modal-body">
    {% include "form-horizontal.html" %}
    {% if not can_delete %}
    <p>Note: it is <strong>strongly</strong> recommended that you do not
      change the meaning of the base unit.  The quantities of this unit
      stored for existing stock <strong>will not</strong> change to match!</p>

    <p>If you change the number of base units per item, note that
      prices <strong>will not</strong> change to match.</p>
    {% endif %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button class="btn btn-danger mb-2" type="submit" name="submit_delete"{% if not can_delete %} disabled{% endif %}>
      Delete
    </button>
    <button class="btn btn-primary mb-2" type="submit" name="submit_update">
      Update
    </button>
  </div>
</form>
{% endmodal %}
{% endif %}

<ul class="nav nav-tabs mb-2" id="unitTabs" role="tablist">
  {% tab "itemSizes" title="Item sizes" active=True %}
  {% tab "stockTypes" title="Stock types" %}
  {% tab "logEntries" title="Log entries" %}
</ul>

<div class="tab-content mb-2">
  {% tabcontent "itemSizes" active=True %}
  {% if unit.stockunits %}
  <ul>
    {% for su in unit.stockunits %}
    <li><a href="{{su.get_absolute_url}}">{{su.name}} ({{su.size}} {{unit.name}})</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No item sizes been defined for this unit.</p>
  {% endif %}
  {% endtabcontent %}

  {% tabcontent "stockTypes" %}
  <div class="mb-3 form-check">
    <input class="form-check-input" type="checkbox" value="" id="checkArchived" name="include_archived">
    <label class="form-check-label" for="checkArchived">
      Include archived?
    </label>
  </div>

  <table class="table table-striped table-hover table-sm" id="stocktypelist">
    <thead class="table-light">
      <tr>
	<th scope="col">Manufacturer</th>
	<th scope="col">Name</th>
	<th scope="col">ABV</th>
	<th scope="col">Department</th>
	<th scope="col">Sale price</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  {% endtabcontent %}

  {% tabcontent "logEntries" %}
  {% with logs=unit.logs %}{% include "tillweb/loglist.html" %}{% endwith %}
  {% endtabcontent %}
</div>

<script type="text/javascript">
  let stocktypes_table = null;
  let include_archived = false;

  function init_stocktypes_table() {
      stocktypes_table = $("#stocktypelist").DataTable({
	  ajax: {
	      url: '{% url "tillweb-datatable-stocktypes" %}',
	      dataSrc: 'data',
	      data: function (d) {
		  d.unit_pre_filter = {{unit.id}};
		  d.include_archived = include_archived ? 'yes': 'no';
	      },
	  },
	  columns: [
	      { data: 'manufacturer',
		render: render_link('manufacturer_url', DataTable.render.text()),
	      },
	      { data: 'name',
		render: render_link('stocktype_url', DataTable.render.text()),
	      },
	      { data: 'abv',
		render: render_abv(),
	      },
	      { data: 'department',
		render: render_link('department_url', DataTable.render.text()),
	      },
	      { data: 'saleprice',
		render: render_money(),
	      },
	  ],
	  order: [[0, 'asc'], [1, 'asc']],
	  searching: true,
	  paging: true,
	  serverSide: true,
      });
  };

  $(document).ready(function() {
      $('#stockTypesTab').on("click", function (e) {
	  if (stocktypes_table === null) {
	      init_stocktypes_table();
	  }
      });
      $("#checkArchived").change(function() {
	  include_archived = this.checked;
	  stocktypes_table.ajax.reload(null, true);
      });
  });
</script>

{% endblock %}
