{% extends "tillweb/tillweb.html" %}
{% load static %}

{% block style %}
{{ block.super }}
<link rel="STYLESHEET" type="text/css" href="{% static "tillweb/multi-select/css/multi-select.css" %}" />
{% endblock %}

{% block jquery %}
{{ block.super }}
<script type="text/javascript" src="{% static "tillweb/multi-select/js/jquery.multi-select.js" %}"></script>
{% endblock %}

{% block title %}{{till}} — User "{{tuser.fullname}}"{% endblock %}

{% block tillcontent %}

{% if form %}
{% if tuser.webuser == user.username %}
<div class="alert alert-danger">
  Warning: this is you! If you make a change here that removes your
  access to the web interface or your ability to edit users, you won't
  be able to reverse it.
</div>
{% endif %}
<form action="" method="post">{% csrf_token %}
  {% include "form-horizontal.html" %}
  <button class="btn btn-primary" type="submit" name="submit_update">
    Update
  </button>
</form>
<script type="text/javascript">
$(document).ready(function(){
$("#id_groups").multiSelect({
selectableHeader: "<div>Available groups</div>",
selectionHeader: "<div>Selected groups</div>"});
});
</script>
{% else %}
<table class="kvtable">
<tr><th scope="row">Full name:</th><td>{{tuser.fullname}}</td></tr>
<tr><th scope="row">Short name:</th><td>{{tuser.shortname}}</td></tr>
{% if user.webuser %}
<tr><th scope="row">Web username:</th><td>{{tuser.webuser}}</td></tr>
{% endif %}
</table>
{% if not tuser.enabled %}
<p>This user is marked as inactive and cannot use the till.</p>
{% endif %}
{% endif %}

{% if tuser.superuser %}
<p>This user can do anything that needs permissions without explicitly
having the appropriate permission.  Any groups and permissions shown
below are irrelevant until the user's "superuser" status is
revoked.</p>  {% endif %}

<h2>Groups</h2>

{% if tuser.groups %}
<table class="table table-striped table-hover table-sm w-auto" id="grouplist">
<thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
  </tr>
</thead>
<tbody>
{% for g in tuser.groups %}
<tr><td><a href="{{g.get_absolute_url}}">{{g.id}}</a></td><td>{{g.description}}</td></tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#grouplist").tablesorter();
});
</script>
{% else %}
<p>This user does not have any groups defined.</p>
{% endif %}

<h2>Permissions</h2>

{% if tuser.permissions %}
<table class="table table-striped table-hover table-sm w-auto" id="permissionlist">
<thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
  </tr>
</thead>
<tbody>
{% for p in tuser.permissions %}
<tr><td>{{p.id}}</td><td>{{p.description}}</td></tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#permissionlist").tablesorter();
});
</script>
{% else %}
<p>This user does not have any permissions defined.</p>
{% endif %}

<h2>Access tokens</h2>

{% if tuser.tokens %}
<table class="table table-striped table-hover table-sm w-auto" id="tokenlist">
<thead class="thead-light">
  <tr>
    <th scope="col">Description</th>
    <th scope="col">Value</th>
    <th scope="col">Last used</th>
  </tr>
</thead>
<tbody>
{% for t in tuser.tokens %}
<tr>
<td>{{t.description}}</td><td>{{t.token}}</td><td>{{t.last_seen|date:dtf}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
  $("#tokenlist").tablesorter();
});
</script>
{% else %}
<p>This user does not have any access tokens defined, so they cannot
use the till.  You can add tokens using the user management interface
on the till while signed in as any user with the "edit-user"
permission.</p>
{% endif %}

<h2>Recent activity</h2>
{% if sales %}
<h3>Items sold</h3>
{% with translines=sales exclude_column="user" %}
{% include "tillweb/translinelist.html" %}
{% endwith %}
{% endif %}

{% if payments %}
<h3>Payments handled</h3>

{% with excluded_column="user" %}
{% include "tillweb/paymentlist.html" %}
{% endwith %}
{% endif %}

{% if annotations %}
<h3>Stock annotations</h3>

{% with annotationlist=annotations excluded_column="user" %}
{% include "tillweb/annotationlist.html" %}
{% endwith %}
{% endif %}

{% endblock %}
