{% extends "tillweb/tillweb.html" %}

{% block title %}{{till}} — Users{% endblock %}

{% block tillcontent %}

<div class="d-none alert alert-info" id="no_users_message">
<p>No users have been defined.  You will have to create at least one
superuser using the command line and then use the user management
interface on the till to set up your real users.</p>

<p>A suitable command for creating a user accessible using the key on
the keyboard that produces the "builtin:alice" user token is:</p>

<pre>runtill adduser root root builtin:alice</pre>
</div>

<div class="form-group form-check">
  <input type="checkbox" class="form-check-input" id="show_disabled">
  <label class="form-check-label" for="show_disabled">
    Include disabled users in the table
  </label>
</div>

<table class="table table-sm table-striped" id="userlist">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Short name</th>
      <th scope="col">Web username</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
      var include_disabled = false;
      const userlist_api = $("#userlist").DataTable({
	  ajax: {
	      url: '{% url "tillweb-datatable-users" pubname=pubname %}',
	      dataSrc: 'data',
	      data: function (d) {
		  d.include_disabled = include_disabled ? 'yes': 'no';
	      },
	  },
	  columns: [
	      { data: 'name',
		render: render_link('url', DataTable.render.text()),
	      },
	      { data: 'shortname',
		render: render_link('url', DataTable.render.text()),
	      },
	      { data: 'webuser',
		render: DataTable.render.text(),
	      },
	  ],
	  order: [ [0, 'asc'] ],
	  searching: true,
	  paging: true,
	  serverSide: true,
      });
      $("#show_disabled").change(function() {
	  include_disabled = this.checked;
	  userlist_api.ajax.reload(null, true);
      });
      userlist_api.on('draw', function () {
	  if (userlist_api.page.info().recordsTotal == 0) {
	      $("#no_users_message").removeClass("d-none");
	  }
      });
  });
</script>

{% endblock %}
