{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>{% block title %}quicktill{% endblock %}</title>
{% block style %}<link rel="STYLESHEET" type="text/css" href="{{STATIC_URL}}style.css" />{% endblock %}
{% block scripts %}{% endblock %}
</head>
<body>
<div id="Header">{% block heading %}Base heading{% endblock %}
{% if is_paginated %} — page {{ page }} of {{ pages }}{% endif %}
{% if nextlink %}
<div class="navarrow">
<a href="{{nextlink}}"><img src="{{STATIC_URL}}right-arrow.svg" width="40" alt="Next" />
</a></div>
{% endif %}
{% if prevlink %}
<div class="navarrow">
<a href="{{prevlink}}"><img src="{{STATIC_URL}}left-arrow.svg" width="40" alt="Prev" />
</a></div>
{% endif %}
</div>

{% if user.is_authenticated %}
<div id="Userinfo">
<p>Logged in as {{ user.get_full_name }}.  {% if user.is_staff %}<a href="{% url "admin:index" %}">  Go to admin.</a>{% endif %}</p>
</div>
{% endif %}
{% if messages %}
<div id="Messages">
<ul>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
<div id="Content">
{% block content %}
<p>Some content for the page.</p>
{% endblock %}
</div>

</body>
</html>
