## -*- html -*-
#set global $even = True
#def zebra
#if $even
#set global $even = False
class="even"#slurp
#else
#set global $even = True
class="odd"#slurp
#end if
#end def
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>$title</title>
<link rel="STYLESHEET" type="text/css" href="$root/style.css" />
</head>
<body>
<div id="Header">$title</div>

<div id="Content">
$body
</div>

<div id="Menu">
<ul>
<li><a href="$root/">Main Menu</a></li>
<li><a href="$root/sessions/">Sessions</a></li>
<li><a href="$root/stock/">Stock</a><ul>
<li><a href="$root/stock?department=1&amp;finished=false">Real ale in cellar</a></li>
<li><a href="$root/stock?department=1&amp;finished=true">Real ale history</a></li>
<li><a href="$root/stock?department=2&amp;finished=false">Keg beer in cellar</a></li>
<li><a href="$root/stock?department=2&amp;finished=true">Keg beer history</a></li>
<li><a href="$root/stock?department=3">Cider</a></li>
<li><a href="$root/stock?department=4&amp;finished=false">Spirits in stock</a></li>
<li><a href="$root/stock?department=5&amp;finished=false">Snacks in stock</a></li>
<li><a href="$root/stock?department=6&amp;department=7&amp;finished=false">Bottles (inc. soft drinks) in stock</a></li>
<li><a href="$root/stock?finished=false">Current stock</a></li>
</ul></li>
<li><a href="$root/deliveries/">Deliveries</a></li>
<li><a href="$root/stats">Statistics</a></li>
<li><a href="$root/stocklines">Fridge check</a></li>
</ul>
</div>

</body>
</html>
